@{
    int sno = 1;
}
<table border="1" style="width: 100%">
    <thead>
        <tr>
            <th style="text-align: center; background-color: yellow; vertical-align: top">S.No</th>
            <th style="text-align: center; background-color: yellow; vertical-align: top">College Code</th>
            <th style="text-align: left; background-color: yellow; vertical-align: top">College Name</th>
            <th style="text-align: left; background-color: yellow; vertical-align: top">Specialization</th>
            <th style="text-align: center; background-color: yellow; vertical-align: top">Academic Year</th>
            <th style="text-align: center; background-color: yellow; vertical-align: top">Appeared Students</th>
            <th style="text-align: center; background-color: yellow; vertical-align: top">Passed Students</th>
            <th style="text-align: center; background-color: yellow; vertical-align: top">Pass%</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.academicPerformanceList)
        { 
            <tr>
                <td style="text-align: center; vertical-align: top">
                    @(sno++)
                </td>
                <td style="text-align: center; vertical-align: top">
                    @item.collegeCode
                </td>
                <td style="text-align: left; vertical-align: top">
                    @item.collegeName
                </td>
                <td style="text-align: left; vertical-align: top">
                    @item.specializationName
                </td>
                <td style="text-align: center; vertical-align: top">
                    @item.academicyear
                </td>
                <td style="text-align: center; vertical-align: top">
                    @item.appearedstudents
                </td>
                <td style="text-align: center; vertical-align: top">
                    @item.passedstudents
                </td>
                <td style="text-align: center; vertical-align: top">
                    <label class="decimal">@item.passPercentage  </label>
                </td>
            </tr>
        }
    </tbody>
</table>




