@model IList<UAAAS.Models.AdminDashbord>
@using UAAAS.Models
@{
    ViewBag.Title = "Colleges";
    int sno = 1;  
}
@using (Html.BeginForm())
{      
    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th style="text-align: center;background-color: yellow;vertical-align:top">S.No</th>
                <th style="text-align: center;background-color: yellow;vertical-align:top">College Code</th>
                <th style="text-align: left;background-color: yellow;vertical-align:top">College Name</th>              
               @* <th style="text-align: left;background-color: yellow;vertical-align:top">Address</th>
                <th style="text-align: left;background-color: yellow;vertical-align:top">City</th>
                <th style="text-align: center;background-color: yellow;vertical-align:top">Pincode</th>            
                <th class="ui-state-default" style="text-align: center;background-color: yellow;">Mobile</th>*@
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.collegesList)
            { 
                <tr>
                    <td style="text-align: center;vertical-align:top">
                        @(sno++)
                    </td>
                    <td style="text-align: center;vertical-align:top">
                        @item.collegeCode
                    </td>
                      <td style="text-align: left;vertical-align:top">
                        @item.collegeName
                    </td>                   
                 @* <td style="text-align: left;vertical-align:top">
                        @item.address
                    </td>
                    <td style="text-align: left;vertical-align:top">
                        @item.townorCity
                    </td>
                    <td style="text-align: center;vertical-align:top;">
                        @item.pincode
                    </td>               
                    <td style="text-align: center;vertical-align:top;">
                        @item.mobile
                    </td>          *@               
                </tr>
            }
        </tbody>
    </table> 
}

