@using UAAAS.Models
@{    
    int sno = 1;
}
@using (Html.BeginForm())
{  
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">S.No</th>
                <th style="text-align: left; background-color: yellow; vertical-align: top">College Name</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">College Code</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Degree</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Approved Intake</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Admitted Intake</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.degreewiseTotalIntake)
            { 
                <tr>
                    <td style="text-align: center; vertical-align: top">
                        @(sno++)
                    </td>
                    <td style="text-align: left; vertical-align: top">
                        @item.collegeName
                    </td>
                    <td style="text-align: center; vertical-align: top">
                        @item.collegeCode
                    </td>
                    <td style="text-align: center;">
                        @item.degree
                    </td>
                    <td style="text-align: center;">
                        @item.totalIntake
                    </td>
                    <td style="text-align: center;">
                        @item.admittedIntake
                    </td>

                </tr>
            }
        </tbody>
    </table>    

}




