@using(Html.BeginForm())
{
    int sno = 1;
<table border="1">
        <thead>
            <tr>
                <th class=" ui-state-default" style="width: 50px;text-align: center;background-color:yellow ">S.No</th>
                <th class=" ui-state-default" style="text-align: left;background-color:yellow;">Name</th>
                <th class=" ui-state-default" style="text-align: left;background-color:yellow;">Total Inspections</th>
                <th class=" ui-state-default" style="text-align: left;background-color:yellow;">Department</th>
                <th class=" ui-state-default" style="text-align: left;background-color:yellow;">Designation</th>
                <th class=" ui-state-default" style="text-align: left;background-color:yellow;">Preferred Designation</th>
                <th class=" ui-state-default" style="text-align: left;background-color:yellow;">Email</th>                
                <th class=" ui-state-default" style="text-align: center;background-color:yellow;width:80px">Mobile</th>         
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.committeePendingSubmissionColleges)
            {           
           
                <tr>
                    <td style="text-align: center;">
                        @(sno++)
                    </td>
                    <td style="text-align: left;">
                         @item.auditorname
                    <td style="text-align: center;">
                        @item.id
                    </td>
                    <td style="text-align: left;">
                        @item.departmentname
                    </td>
                    <td style="text-align: left;">
                        @item.designation
                    </td>
                     <td style="text-align: left;">
                        @item.auditorpreferreddesignation
                    </td>
                   <td style="text-align: left;">
                        @item.auditoremail1
                    </td>                
                    <td style="text-align: center;">
                        @item.auditormobile1
                    </td>                 
                </tr>
            }
        </tbody>
        
    </table>
}