@using (Html.BeginForm())
{
    int count = 0;
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    S.No
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    AICTE Permanent ID
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Name of the Institution
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Institution address
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Dist.
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Name of the course
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    AICTE approved intake for the A.Y 2015-16
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    JNTUH approved intake for the A.Y 2015-16
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.CollegeSpecializations)
            {

                @if (item.CollegeSpecializations != null)
                {
                    foreach (var specialization in item.CollegeSpecializations)
                    {
                        if (specialization.Intake != null && specialization.Intake != string.Empty &&
                             specialization.Specialization != null && specialization.Specialization != string.Empty)
                        {
                            <tr>
                                <td style="text-align: center;vertical-align: top">
                                    @(count = count + 1)
                                </td>
                                <td style="text-align: center;vertical-align: top"></td>
                                <td style="text-align: left;vertical-align: top">@item.CollegeName.Replace("’", "'")</td>
                                <td style="text-align: center;vertical-align: top">@item.CollegeAddress</td>
                                <td style="text-align: center;vertical-align: top">@item.Grade</td>

                                <td style=" text-align: left">
                                    @if (specialization.Intake.Contains("#") == true)
                                    {
                                        <b>@specialization.Specialization</b>
                                    }
                                    else
                                    {
                                        <label>@specialization.Specialization</label>
                                    }
                                </td>
                                <td style="text-align: right">
                                    @if (specialization.Intake.Contains("$") == true)
                                    {
                                        string[] specializations = specialization.Intake.Split('$');
                                        <label>@specializations[0]</label>
                                    }
                                    else if (specialization.Intake.Contains("*") == true)
                                    {
                                        string[] specializations = specialization.Intake.Split('*');
                                        <b>@specializations[0]</b>
                                    }
                                    else if (specialization.Intake.Contains("#") == true)
                                    {
                                        string[] specializations = specialization.Intake.Split('#');
                                        <b>@specializations[0]</b>
                                    }
                                    else
                                    {
                                        <label>@specialization.Intake</label>
                                    }
                                </td>
                                <td style="text-align: right">
                                    @if (specialization.Intake.Contains("$") == true)
                                    {
                                        string[] specializations = specialization.Intake.Split('$');
                                        <label>@specializations[0]</label>
                                    }
                                    else if (specialization.Intake.Contains("*") == true)
                                    {
                                        string[] specializations = specialization.Intake.Split('*');
                                        <b>@specializations[0]</b>
                                    }
                                    else if (specialization.Intake.Contains("#") == true)
                                    {
                                        string[] specializations = specialization.Intake.Split('#');
                                        <b>@specializations[0]</b>
                                    }
                                    else
                                    {
                                        <label>@specialization.Intake</label>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            }

        </tbody>

    </table>
}
