@model List<UAAAS.Models.CounsellingReport>
@{
    var model = Model;
}
@using (Html.BeginForm())
{
    int count = 0;
    int count1 = 0;
    int DeptCount = 0;
    string DepartmentName = "";
    string DepartmentName1 = "";
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    S.No
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    College Code
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Name of the Institution
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Institution address
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Dist.
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Name of the course
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Proposed Intake for the A.Y 2023-24
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    JNTUH approved intake for the A.Y 2022-23
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Required Faculty
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Available Faculty
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Required PHD Faculty
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Available PHD Faculty
                </th>
                @*<th style="text-align: center; background-color: yellow; vertical-align: top">
                    AICTE approved intake for the A.Y 2017-18
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    JNTUH approved intake for the A.Y 2017-18
                </th>*@
              
            </tr>
        </thead>
        <tbody>
            @foreach (var item1 in Model)
            {
                foreach (var item in item1.CollegeSpecializations.OrderBy(d => d.DepartmentName))
                {
                    count1++;
                    
                    <tr>
                        <td style="text-align: center;vertical-align: top">
                            @(count = count + 1)
                        </td>
                        <th style="text-align: center; vertical-align: top">
                            '@item1.CollegeCode
                        </th>
                        <th style="text-align: left; vertical-align: top">
                            @item1.CollegeName
                        </th>
                        <th style="text-align: left; vertical-align: top">
                                @item1.CollegeAddress
                            </th>
                            <th style="text-align: left; vertical-align: top">
                                @item1.Grade
                            </th>
                        <th style="text-align: left; vertical-align: top">
                            @if (item.Intake.Contains("#") == true)
                            {
                                <b>@item.Specialization</b>
                            }
                            else
                            {
                                <label>@item.Specialization</label>
                            }
                        </th>
                        @*<th style="text-align: right; vertical-align: top">
                            @if (item.Intake.Contains("$") == true)
                            {
                                string[] specializations = item.Intake.Split('$');
                                <label>@specializations[0]</label>
                            }
                            else if (item.Intake.Contains("*") == true)
                            {
                                string[] specializations = item.Intake.Split('*');
                                <b>@specializations[0]</b>
                            }
                            else if (item.Intake.Contains("#") == true)
                            {
                                string[] specializations = item.Intake.Split('#');
                                <b>@specializations[0]</b>
                            }
                            else
                            {
                                if (item.Specialization.Split('-')[0] == "M.Pharmacy")
                                {
                                     <label>15</label>
                                }
                                else
                                {
                                     <label>@item.Intake</label>
                                }

                               
                            }
                        </th>*@
                        <th style="text-align: right; vertical-align: top">
                            @if (item.Intake.Contains("$") == true)
                            {
                                string[] specializations = item.Intake.Split('$');
                                <label>@specializations[0]</label>
                            }
                            else if (item.Intake.Contains("*") == true)
                            {
                                string[] specializations = item.Intake.Split('*');
                                <b>@specializations[0]</b>
                            }
                            else if (item.Intake.Contains("#") == true)
                            {
                                string[] specializations = item.Intake.Split('#');
                                <b>@specializations[0]</b>
                            }
                            else
                            {
                                <label>@item.Intake</label>
                                @*if (item.Specialization.Split('-')[0] == "M.Pharmacy")
                                {
                                     <label>15</label>
                                }
                                else
                                {
                                     <label>@item.Intake</label>
                                }*@
                            }
                        </th>
                        <th style="text-align: left; vertical-align: top">

                            @if (item.Specialization.Split('-')[0] == "B.Pharmacy")
                            {
                                var ApprovedData = Convert.ToInt32(item.ApprovedIntake);
                                if (ApprovedData >= 100)
                                {
                                    <label>100</label>
                                }
                                else
                                {
                                    <label>@item.ApprovedIntake</label>
                                }
                            }
                            else if (item.Specialization.Split('-')[0] == "M.Pharmacy")
                            {
                                <label>@item.ApprovedIntake</label>
                            }
                            else
                            {
                                <label>@item.ApprovedIntake</label>
                            }
                            
                        </th>
                        <th style="text-align: left; vertical-align: top">
                            @item.RequiredFaculty
                        </th>
                        <th style="text-align: left; vertical-align: top">
                            @item.AvailableFaculty
                        </th>
                        <th style="text-align: left; vertical-align: top">
                            <label>@item.PHDRequiredFaculty</label>
                            @*@if (item.Specialization.Split('-')[0] == "M.Pharmacy")
                            {
                            <label>1</label>
                            }
                            else
                            {
                                <label>@item.PHDRequiredFaculty</label>
                                
                            }*@  
                           
                        </th>
                        <th style="text-align: left; vertical-align: top">
                            @item.PHDAvailableFaculty
                        </th>


                    </tr>
                }


            }
        </tbody>
    </table>
}
