@{
    int sno = 1;
}


<table border="1" style="width: 100%">
    <tr>
        <th style="text-align: center;background-color:yellow;vertical-align:top;">SNo</th>
        <th style="text-align: right;background-color:yellow;vertical-align:top;">Code</th>
        <th style="text-align: right;background-color:yellow;vertical-align:top;">College Name</th>
        <th style="text-align: right;background-color:yellow;vertical-align:top;">Address</th>
        <th style="text-align: right;background-color:yellow;vertical-align:top;">District</th>
        <th style="text-align: left;background-color:yellow;vertical-align:top;">Degree</th>
        <th style="text-align: right;background-color:yellow;vertical-align:top;">Proposed</th>
        <th style="text-align: right;background-color:yellow;vertical-align:top;">Course Status</th>

    </tr>
    @foreach (var item in ViewBag.degreewisePraposedIntake)
    {
        <tr>
            <th style="text-align: center;vertical-align:top;">@(sno++)</th>
            <td style="vertical-align:top;">@item.collegeCode</td>
            <td style="vertical-align:top;">@item.collegeName</td>
            <td style="vertical-align:top;">@item.address</td>
            <td style="vertical-align:top;">@item.district</td>
            <td style="vertical-align:top;">@item.degree</td>
            <td style="text-align: right;vertical-align:top;">@item.proposedIntake</td>
            <td style="text-align: right;vertical-align:top;">@item.CourseStatus</td>

        </tr>
    }

</table>

