@model UAAAS.Models.AcademicPerformanceReport
@using UAAAS.Models
@{
    ViewBag.Title = "AcademicPerformanceReport";    
    int sno = 1;
}
<h2>Academic Performance Report</h2>
@if (TempData["Error"] != null)
{
     <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
<script type="text/javascript">
    var asInitVals = new Array();

    $(document).ready(function () {
        $('#collegestatusId').removeClass('input-validation-error');
        $('#districtId').removeClass('input-validation-error');
        $('#collegeTypeId').removeClass('input-validation-error');
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 1000,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null, null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });
        //$.getJSON("/CollegeIntakeProposed/GetDepartments",{ id : DegreeID},   
     
   });

</script>

@using (Html.BeginForm())
{  
    <table>
        <tr>
            <td>
                @Html.DropDownListFor(model => model.collegestatusId,
            new SelectList(ViewBag.CollegeEditStatus as System.Collections.IEnumerable, "collegestatusId", "name"),
            "-- All Colleges --", new { id = "collegestatusId", @class = "width" })
            </td>
             <td>
                   @Html.DropDownListFor(model => model.districtId,
            new SelectList(ViewBag.Districts as System.Collections.IEnumerable, "id", "districtName"),
            "-- All Districts --", new { id = "districtId", @class = "width" })
           
            </td>
            <td>
                 @Html.DropDownListFor(model => model.collegeTypeId,
            new SelectList(ViewBag.CollegeType as System.Collections.IEnumerable, "id", "collegeType"),
            "-- All CollegeTypes --", new { id = "collegeTypeId", @class = "width" })
          </td>
            <td><input type="submit" value="Search" /></td>
            <td><input type="submit" value="Export" name="cmd" /></td>
           <td>@Html.ActionLink("Back", "Admin", "Dashboard", null, new { @class = "create_button" })</td>
        </tr>
    </table>
    <table id="example" class="display">
        <thead>
            <tr>
                <th style="width: 20px; text-align: center;">S.No</th>
                <th style="text-align: center;">College Code</th>
                <th style="text-align: left;width: 250px">College Name</th>
                <th style="text-align: left;">Specialization</th>
                <th style="text-align: center;">Academic Year</th>
                <th style="text-align: center">Appeared Students</th>                
                <th class="ui-state-default" style="text-align: center;">Passed Students</th>
                <th class="ui-state-default" style="text-align: center;width:50px">Pass%</th>                
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.academicPerformanceList)
            { 
                <tr>
                    <td style="text-align: center;width:30px;">
                        @(sno++)
                    </td>
                    <td style="text-align: center;">
                        @item.collegeCode
                    </td>
                      <td style="text-align: left;">
                        @item.collegeName
                    </td>
                    <td style="text-align: left;">
                        @item.specializationName
                    </td>
                    <td style="text-align: center;">
                        @item.academicyear
                    </td>
                    <td style="text-align: center;">
                        @item.appearedstudents
                    </td>                
                    <td style="text-align: center;">
                        @item.passedstudents
                    </td>
                   <td style="text-align: center;">
                     <label class="decimal">@item.passPercentage  </label>     
                    </td>                  
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th style="">
                    <input type="text" id="i-0" style="width: 30%; text-align: left; display: none;" class="search_init">
                </th>
                <th style="">
                    <input type="text" id="i-1" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="text-align: left">
                    <input type="text" id="i-3" style="width:90%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="">
                    <input type="text" id="i-4" style="width: 85%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="text-align: left">
                    <input type="text" id="i-5" style="width: 85%; text-align: left;" class="search_init">
                </th>
                  <th class=" ui-state-default" style="text-align: left">
                    <input type="text" id="i-6" style="width: 90%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="">
                    <input type="text" id="i-7" style="width: 90%; text-align: left;" class="search_init">
                </th>          
            </tr>
        </tfoot>
    </table>    

}


