@model IEnumerable<UAAAS.Models.DegreewiseTotalIntake>
@using UAAAS.Models
@{
    ViewBag.Title = "CollegeWiseApprovedandAdmittedIntake";
    int sno = 1;
}

<h2>College Wise Approved and Admitted Intake AY-@ViewBag.AcademicYear</h2>

<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        $('#collegestatusId').removeClass('input-validation-error');
        $('#districtId').removeClass('input-validation-error');
        $('#collegeTypeId').removeClass('input-validation-error');
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 1000,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null],


        });

        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        $("tfoot input").keyup(function () {
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        $('#btnSearch').click(function () {
            if ($('#academicYearId').val() == '') {
                alert('Please Select Academic Year');
                return false;
            }
            if ($('#degreeId').val() == '') {
                alert('Please Select Degree');
                return false;
            }
        });
        $('#btnExport').click(function () {
            if ($('#academicYearId').val() == '') {
                alert('Please Select Academic Year');
                return false;
            }
            if ($('#degreeId').val() == '') {
                alert('Please Select Degree');
                return false;
            }
        });

    });



</script>

@using (Html.BeginForm())
{  
    <table>
        <tr>
            <td>
                @Html.DropDownList("ddlacademicYearId",
            new SelectList(ViewBag.accademiyearList as System.Collections.IEnumerable, "id", "academicYear"),
            "--Select Academic Year--", new { id = "academicYearId" })
            </td>
            <td>
                @Html.DropDownList("ddldegreeId",
            new SelectList(ViewBag.degreeList as System.Collections.IEnumerable, "id", "degree"),
            "--Select Degree--", new { id = "degreeId" })
            </td>
            <td>
                <input type="submit" id="btnSearch" value="Search" />
            </td>
            <td>
                <input type="submit" id="btnExport" value="Export" name="cmd" />
            </td>

        </tr>
    </table>    
       
    
    <table id="example" class="display">
        <thead>
            <tr>
                <th style="width: 20px; text-align: center;">S.No</th>
                <th style="text-align: left;">College Name</th>
                <th style="text-align: center;">College Code</th>
                <th style="text-align: center;">Degree</th>
                <th style="text-align: center;">Approved Intake</th>

                <th class=" ui-state-default" style="text-align: center">Admitted Intake</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <td style="text-align: center; width: 30px;">
                        @(sno++)
                    </td>
                    <td style="text-align: left;">
                        @item.collegeName
                    </td>
                    <td style="text-align: center;">
                        @item.collegeCode
                    </td>
                    <td style="text-align: center;">
                        @item.degree
                    </td>
                    <td style="text-align: center;">
                        @item.totalIntake
                    </td>
                    <td style="text-align: center;">
                        @item.admittedIntake
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th style="">
                    <input type="text" id="i-0" style="width: 30%; text-align: left; display: none;" class="search_init">
                </th>
                <th style="">
                    <input type="text" id="i-1" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="text-align: left">
                    <input type="text" id="i-3" style="width: 90%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="">
                    <input type="text" id="i-4" style="width: 85%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="">
                    <input type="text" id="i-5" style="width: 85%; text-align: left;" class="search_init">
                </th>
            </tr>
        </tfoot>
    </table>    

}





