@model UAAAS.Models.SatffStrengthReport
@using UAAAS.Models
@{
    ViewBag.Title = "SatffStrengthReport";
    int sno = 1;
}
<h2>SatffStrength Report</h2>
@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
<script type="text/javascript">
    var asInitVals = new Array();

    $(document).ready(function () {
        $('#collegestatusId').removeClass('input-validation-error');
        $('#districtId').removeClass('input-validation-error');
        $('#collegeTypeId').removeClass('input-validation-error');
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 1000,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null, null, null, null,null,null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });       
    });

</script>

@using (Html.BeginForm())
{  
    <table>
        <tr>
            <td>
                @Html.DropDownListFor(model => model.collegestatusId,
            new SelectList(ViewBag.CollegeEditStatus as System.Collections.IEnumerable, "collegestatusId", "name"),
            "-- All Colleges --", new { id = "collegestatusId", @class = "width" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.districtId,
            new SelectList(ViewBag.Districts as System.Collections.IEnumerable, "id", "districtName"),
            "-- All Districts --", new { id = "districtId", @class = "width" })

            </td>
            <td>
                @Html.DropDownListFor(model => model.collegeTypeId,
            new SelectList(ViewBag.CollegeType as System.Collections.IEnumerable, "id", "collegeType"),
            "-- All CollegeTypes --", new { id = "collegeTypeId", @class = "width" })
            </td>
            <td>
                <input type="submit" value="Search" /></td>
            <td><input type="submit" id="ExportToExcel" value="Export" name="cmd" /></td>
            <td> @Html.ActionLink("Back", "Admin", "Dashboard", null, new { @class = "create_button" })</td>
        </tr>
    </table>
   
    <table id="example" class="display">
        <thead>
            <tr>
                <th style="width: 20px; text-align: center;">S.No</th>
                <th style="text-align: center; width: 50px">College Code</th>
                <th style="text-align: left;">College Name</th>
                <th style="text-align: left;">Degree</th>
                <th style="text-align: left;">Department</th>
                <th class=" ui-state-default" style="text-align: left;">Specialization</th>
                <th class=" ui-state-default" style="text-align: center; width: 50px">Professors</th>
                <th class=" ui-state-default" style="text-align: center; width: 50px">Asso Professors</th>
                <th class=" ui-state-default" style="text-align: center; width: 50px">Assis Professors</th>
                <th class=" ui-state-default" style="text-align: center; width: 50px">Students</th>
                <th class=" ui-state-default" style="text-align: center; width: 50px">Ratio</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.satffStrengthReportList)
            { 
                <tr>
                    <td style="text-align: center; width: 30px;">
                        @(sno++)
                    </td>
                    <td style="text-align: center;">
                        @item.collegeCode
                    </td>
                    <td style="text-align: left;">
                        @item.collegeName
                    </td>
                    <td style="text-align: left;">
                        @item.degree
                    </td>
                    <td style="text-align: left;">
                        @item.department
                    </td>
                    <td style="text-align: left;">
                        @item.specialization
                    </td>
                    <td style="text-align: center;">
                        @item.professors
                    </td>
                    <td style="text-align: center;">
                        @item.assoProfessors
                    </td>
                    <td style="text-align: center;">
                        @item.assisProfessors
                    </td>
                    <td style="text-align: center;">
                        @item.intake
                    </td>
                    <td style="text-align: center;">
                        @item.ratio
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th style="">
                    <input type="text" id="i-0" style="width: 30%; text-align: left; display: none;" class="search_init">
                </th>
                <th style="">
                    <input type="text" id="i-1" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-2" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="text-align: left">
                    <input type="text" id="i-3" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="">
                    <input type="text" id="i-4" style="width: 80%; text-align: left;" class="search_init">
                </th>
                 <th class=" ui-state-default">
                    <input type="text" id="i-5" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-6" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-7" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="text-align: left">
                    <input type="text" id="i-8" style="width: 80%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default" style="">
                    <input type="text" id="i-9" style="width: 80%; text-align: left;" class="search_init">
                </th>
                 <th class=" ui-state-default" style="">
                    <input type="text" id="i-10" style="width: 80%; text-align: left;" class="search_init">
                </th>
            </tr>
        </tfoot>
    </table>      
}





