@model IEnumerable<UAAAS.Models.AuditorReport>
@{
    ViewBag.Title = "Auditor Report";
    var index = 1;
}

<h2>Auditor Report</h2>

@section onReady{

/* Initialize table and make first column non-sortable*/
   $('#example').dataTable({  "bJQueryUI": true,
                              "iDisplayLength": 50,
                              "bStateSave": false,
                              "aoColumns": [ { "bSortable": true, "bSearchable": true }, null, null, null, null ]
                           });
}
<table id="example" class="display">
    <thead>
        <tr>
            <th style="width: 20px; text-align: center;">S.No
            </th>
            <th style="width: 200px; text-align: left;">Name
            </th>
            <th style="text-align: left;width:300px">Designation
            </th>
            <th style="text-align: left;">College Name
            </th>
            <th style="text-align: center;">Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 20px; text-align: center;">
                    @(index++)
                </td>
                <td style="width: 200px; text-align: left; text-transform: uppercase;">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="text-align: left;">
                  @item.prefferedDesignation 
                    @if(item.auditorPlace != string.Empty)
                    {
                        <label>, </label>
                        <label>@item.auditorPlace</label>
                    }
                </td>
                <td style="text-align: left;text-transform:uppercase">
                    @item.collegeName <label> (</label>@item.collegeCode<label>)</label>
                </td>
                <td style="text-align: center;">
                    <label>@item.inspectionDate</label>
                    @if(item.alternateInspectionDate != null)
                    {
                        <label>& </label>
                    <label>@item.alternateInspectionDate</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.Count == 0)
{
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
}