@model IEnumerable<UAAAS.Models.CollegeNews>

@{
    ViewBag.Title = "College News";
    int count = 1;
}

<h2>College News</h2>

<p class="create_link_right">
    @Html.ActionLink("Add News/Events", "CollegeNewsCreate", "CollegeNews", new { @class = "create_button" })
</p>

@*@section onReady{

    /* Initialize table and make first column non-sortable*/
   $('#example').dataTable({  "bPaginate": false,
		                      "bLengthChange": false,
		                      "bFilter": true,
		                      "bSort": false,
		                      "bInfo": true,
		                      "bAutoWidth": false,
		                      "bJQueryUI": true,
                              "iDisplayLength": 50,
                              "aoColumns": [ { "bSortable": true, "bSearchable": true }, null, null, null ],
                              "sPaginationType": "full_numbers"
    });
}*@

<script type="text/javascript">
    var asInitVals = new Array();

    $(document).ready(function () {
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 500,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0; i < oSettings.aoPreSearchCols.length; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null,null,null,null,null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        //Update collegestatus popup

        var mainUrl = window.location;
        var url;

        $.ajaxSetup({ cache: false });

        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/College',
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 640,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $('.display').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'College'
            });

            $myDialog.dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });


</script>
<table id="example" class="display" style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 50px; text-align: center;">
                S.No
            </th>
            <th style="width: 300px; text-align: left;">
                College Name
            </th>
            <th>
                Title
            </th>
            <th>
                Academic Year
            </th>
            <th style="width: 100px; text-align: center;">
                Start Date
            </th>
            <th style="width: 100px; text-align: center;">
                End Date
            </th>
            <th style="width: 50px; text-align: center;">
                Status
            </th>
            <th style="width: 30px; text-align: center;">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 50px; text-align: center;">
                    @(count++)
                </td>
           
                <td style="width: 300px; text-align: left;">
                    <label>@item.collegeName</label>
                </td>
                <td style="text-align: justify;">
                    @if (!string.IsNullOrWhiteSpace(item.navigateURL))
                    {
                        <a class="navigationurl" href="@item.navigateURL" target="_blank">@item.title</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.title)
                    }
                    @if (item.isLatest == true)
                    {
                        <img src="../Content/images/latest.gif" alt="latest"/>
                    }
                </td>
                <td style="width: 100px; text-align: center;">
                    @Html.DisplayFor(modelItem => item.academicyear)
                </td>
                <td style="width: 100px; text-align: center;">
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td style="width: 100px; text-align: center;">
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                <td style="width: 50px; text-align: center;">
                    @if (item.isActive == true)
                    {
                        <img src="@Url.Content("~/Content/images/active.png")" alt="JNTU Hyderabad Logo" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/images/inactive.png")" alt="JNTU Hyderabad Logo" />
                    }
                </td>
                <td style="width: 30px; text-align: center;">
                    @Html.ActionLink("Edit", "CollegeNewsEdit", "CollegeNews", new { id = item.id }, new { @class = "edit_button" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
            </th>
            <th class=" ui-state-default">
                <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th class=" ui-state-default">
                <input type="text" id="i-4" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th class=" ui-state-default" style="width: 70px;">
                <input type="text" id="i-5" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th style="width: 60px;" class=" ui-state-default">
                <input type="text" id="i-6" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
        </tr>
    </tfoot>
</table>

@*<table id="example" class="display" style="width: 100%;">
    <thead>
        <tr class="gridHeader">
            <th style="width: 50px; text-align: center;">S.No
            </th>
            <th style="width: 300px; text-align: left;">College Name
            </th>
            <th>Title
            </th>
            <th style="width: 100px; text-align: center;" class="ui-state-default">Start Date
            </th>
            <th style="width: 100px; text-align: center;" class="ui-state-default">End Date
            </th>
            <th style="width: 50px; text-align: center;" class="ui-state-default">Status
            </th>
            <th class="ui-state-default" style="width: 30px; text-align: center;">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="col2">
                <td style="width: 50px; text-align: center;">
                    @(count++)
                </td>
                <td style="width: 300px; text-align: left;">
                    <label>@item.collegeName</label>
                </td>
                <td style="text-align: justify;">
                    @if (!string.IsNullOrWhiteSpace(item.navigateURL))
                    {
                        <a class="navigationurl" href="@item.navigateURL" target="_blank">@item.title</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.title)
                    }
                    @if (item.isLatest == true)
                    {
                        <img src="../Content/images/latest.gif" alt="latest" />
                    }
                </td>
                <td style="width: 100px; text-align: center;">
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td style="width: 100px; text-align: center;">
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                <td style="width: 50px; text-align: center;">
                    @if (item.isActive == true)
                    {
                        <img src="@Url.Content("~/Content/images/active.png")" alt="JNTU Hyderabad Logo" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/images/inactive.png")" alt="JNTU Hyderabad Logo" />
                    }
                </td>
                <td style="width: 30px; text-align: center;">
                    @Html.ActionLink("Edit", "CollegeNewsEdit","CollegeNews", new { id = item.id }, new { @class = "editDialog edit_button" })
                </td>
            </tr>
        }
    </tbody>
</table>*@