@model UAAAS.Models.PublicColleges
@{
    ViewBag.Title = "Colleges";
}
<h2>Colleges</h2>
<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        $('#DistrictId').removeClass('input-validation-error');
        $('#DegreeId').removeClass('input-validation-error');
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });
    });
</script>
@using (Html.BeginForm())
{
    int count = 1;
    
    <table style="width: 50%; display: none;">
        <tr>
            <td>
                @Html.DropDownListFor(model => model.DistrictId,
             new SelectList(Model.DistrictList, "id", "districtName"), "--ALL DISTRICTS--",
             new { @style = "width:100%" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.DegreeId,
             new SelectList(Model.DegreeList, "id", "degree"), "--ALL DEGREES--",
             new { @style = "width:100%" })
            </td>
            <td>
                <input type="submit" value="Search" name="cmd" id="Submit" />
            </td>
        </tr>
    </table>
    
    <table id="example" class="display">
        <thead>
            <tr>
                <th style="width: 50px; text-align: center;">S.No
                </th>
                <th style="width: 50px; text-align: center;">Code
                </th>
                <th style="text-align: left;">College Name
                </th>
                <th class="ui-state-default" style="width: 180px; text-align: center;">Inspection Report Submitted by FFC team</th>
                <th class="ui-state-default" style="width: 200px; text-align: center;">College Photographs Submitted by FFC team</th>
                <th class="ui-state-default" style="width: 120px; text-align: center;">Evaluation Report of SCA</th>
                @*<th class="ui-state-default" style="width: 60px; text-align: center;"></th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.PublicCollegeList.Count() > 0)
            {
                foreach (var item in Model.PublicCollegeList)
                {
                    var code = item.CollegeCode;
                <tr>
                    <td style="width: 50px; text-align: center;">
                        @(count++)
                    </td>
                    <td style="width: 50px; text-align: center; text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => item.CollegeCode)
                    </td>
                    <td style="text-align: left;">
                        @Html.DisplayFor(modelItem => item.CollegeName)
                    </td>
                    <td style="text-align: center;"><a href="/Content/PDFReports/414Reports/@string.Format("{0}.pdf", item.CollegeCode)" target="_blank">
                        <img src="../../Content/images/pdf.png"></a></td>
                    <td style="text-align: center;"><a href="/Content/PDFReports/414Photos/@string.Format("{0}.pdf", item.CollegeCode)" target="_blank">
                        <img src="../../Content/images/pdf.png"></a></td>
                    <td style="text-align: center;"><a href="/Content/PDFReports/414A3/@string.Format("{0}.pdf", item.CollegeCode)" target="_blank">
                        <img src="../../Content/images/pdf.png"></a></td>
                    @*<td style="width: 40px; text-align: center;">
                        @Html.ActionLink("View", "UserView", "CollegeInformation", new { id = UAAAS.Models.Utilities.EncryptString(item.id.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]) }, new { @class = "edit_button1", target = "_blank" })
                    </td>*@
                </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th style="width: 50px;">
                    <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th style="width: 50px;">
                    <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-4" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-5" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                @*<th style="width: 60px;" class=" ui-state-default">
                    <input type="text" id="i-8" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>*@
            </tr>
        </tfoot>
    </table>
            if (Model.PublicCollegeList.Count() == 0)
            {
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
            }
}