@model UAAAS.Models.jntuh_department

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>jntuh_department</legend>

    <div class="display-label">departmentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departmentName)
    </div>

    <div class="display-label">jntuh_degree</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jntuh_degree.degree)
    </div>

    <div class="display-label">departmentDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departmentDescription)
    </div>

    <div class="display-label">isActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>

    <div class="display-label">createdOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdOn)
    </div>

    <div class="display-label">my_aspnet_users</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.my_aspnet_users.name)
    </div>

    <div class="display-label">updatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updatedOn)
    </div>

    <div class="display-label">my_aspnet_users1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.my_aspnet_users1.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
