
@*<style>
     #back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    /*display: none;*/
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
    #back2Top:hover {
        background-color: #DDF;
        color: #000;
    }
</style>*@


@*<script src="~/Scripts/angular.min.js"></script>
<script type="text/javascript">
    var myapp = angular.module('DashboardModule', [])
                     .controller('DashboardController', function ($scope, $location, $anchorScroll) {
                         $scope.ScrollTo = function (locationscroll) {
                             debugger;
                             $location.hash(locationscroll);
                             $anchorScroll();
                         }
                     });
</script>*@


<div class="footer" style="height:7px;">
    @*<a href="~/Views/BAC.html" style="color:black" target="_blank"></a>
        <a href="#" style="color:black" target="_blank">Disclaimer</a>   |
        <a href="#" style="color:black" target="_blank">Privacy Policy</a>*@
  
    @*<div class="menu_items" >*@
    @*</div>*@
    <span style="float:left;margin-left:90px;">
        Copyright &copy; @DateTime.Now.Year JNTUH Affiliations & Academic Audit. All rights reserved.
    </span>
    @*<br />*@<span style="color: #024b74">
        @*<span>IP Address: @HttpContext.Current.Request.UserHostAddress</span> - [<span>@Membership.GetNumberOfUsersOnline() - @UAAAS.Helpers.ActiveSessions.Count</span>]*@
    </span>
   
        <ul style="float:right;margin-right:80px;">
            <li style="display: inline; list-style-type: none; padding-right: 10px;">@Html.ActionLink(" Terms & Conditions |", "TermsandConditions", "Payment", null, new { style = "color:white" })</li>
            <li style="display: inline; list-style-type: none; padding-right: 10px; ">@Html.ActionLink("Disclaimer |", "Disclaimer", "Payment", null, new { style = "color:white" })</li>
            <li style="display: inline; list-style-type: none; padding-right: 10px; ">@Html.ActionLink("Privacy Policy |", "PrivacyPolicy", "Payment", null, new { style = "color:white" })</li>
            <li style="display: inline; list-style-type: none; padding-right: 10px; ">@Html.ActionLink("Refund and Cancellation Policy", "RefundandCancellationPolicy", "Payment", null, new { style = "color:white" })</li>
            
        </ul>
    
</div>
@*<div style="float:right;">
    <a id="back2Top" title="Back to top" href="#" ng-click="ScrollTo('Top')">&#10148;</a>
</div>*@
      




