@model UAAAS.Models.GeneratePasswordModel

@{
    ViewBag.Title = "Generate Password";
}

<h2>Generate New Password</h2><br />
<p style="text-align:left;color:red">Please Enter Following Details As You Registered In JNTU Faculty Portal</p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @if (TempData["error"] != null && TempData["error"] != "")
    
    {
        <div class="error">
            <p style="background-color:lightyellow"><strong>Error:</strong> @TempData["error"]</p>
        </div>
    }
    else
    {
        
    }

  @if (TempData["success"] != null && TempData["success"] != "")
  {
    <div class="success">
        <p style="background-color:lightyellow"><strong>success:</strong> @TempData["success"]</p>
    </div>
  }
  else
  {
  }


@using (Html.BeginForm())
{
    
    
    <div class="details_table">
        <div class="editor-label">
            @Html.LabelFor(model=>model.RegistrationNumber)
          
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RegistrationNumber, new { @required = "true", @placeholder = "Registration Number",@width="300px" })
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { @required="true",@placeholder="Registered Email"})
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DateOfBirth, new { @required = "true",@placeholder="MM-DD-YYYY"})
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PANNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PANNumber, new { @required = "true",@placeholder="PAN Number" })
            @Html.ValidationMessageFor(model => model.PANNumber)
        </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.CollegeName)
        </div>
        <div class="editor-field">           
            @Html.DropDownListFor(model => model.CollegeId, new SelectList(ViewBag.Institutions as System.Collections.IEnumerable, "CollegeId", "CollegeName"),"---Select---", new { @required = "true"})
            @Html.ValidationMessageFor(model => model.CollegeId)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Mobile, new { @required = "true",@placeholder="Registered Mobile NO." })
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>
       
        @*<div class="editor-label">
            @Html.LabelFor(model => model.MotherName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MotherName, new { @required = "true",@placeholder="Enter Your Mother's Name" })
            @Html.ValidationMessageFor(model => model.MotherName)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.TenthYear)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TenthYear, new { @required = "true",@placeholder="10th Passing Year" })
            @Html.ValidationMessageFor(model => model.TenthYear)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UGYear)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UGYear, new { @required = "true", @placeholder = "UG Passing Year" })
            @Html.ValidationMessageFor(model => model.UGYear)
        </div>             
         @*@if (@TempData["newpassword"] != null)
        {
            <div class="editor-label">
                Your New Password
            </div>
              <div class="editor-field">
                  @TempData["newpassword"]
                </div>
        }*@


        <div class="display-label last-row">
            &nbsp;
        </div>
        <div class="display-field last-row">
            <p>
                <input type="submit" value="Submit" />
            </p>
        </div>
        <div class="clear"></div>
    </div>
}
