@model IEnumerable<UAAAS.Models.OtherCourses>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_DataEntryLayoutLeftMenu.cshtml";
    } 
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>collegeId
        </th>
        <th>courseName
        </th>
        <th>affiliatedUniversityId
        </th>
        <th>otherUniversityName
        </th>
        <th>isActive
        </th>
        <th>createdOn
        </th>
        <th>createdBy
        </th>
        <th>updatedOn
        </th>
        <th>updatedBy
        </th>
        <th>universityName
        </th>
        <th>rowNumber
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.collegeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.affiliatedUniversityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.otherUniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.universityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rowNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
