@model UAAAS.Controllers.DiaryDetails
@{
    ViewBag.Title = "UpdateCollegeDiary";
}

<h2>University Diary Information for the Year 2020.</h2>
<style type="text/css">
    .editor-label,.editor-field
    {
        width:97%;
    }
     
   .txtbox{
        width:90%;
    }
</style>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.plugin.from_html.js")" type="text/javascript"></script>





<br />
@if (TempData["SUCCESS"] != null)
{
    <div class="success" style="background-color: gold; border: 1px solid #f49820;">
        <p style="text-align: center;font-weight: bold"><strong>Success:</strong> @TempData["SUCCESS"].ToString()</p>
    </div>
}
@if (TempData["ERROR"] != null)
{
    <div class="error" style="background-color: red; border: 1px solid #f49820;">
        <p style="text-align: center;font-weight: bold;color:white;"><strong>Error:</strong> @TempData["ERROR"].ToString()</p>
    </div>
}
@using(Html.BeginForm("UpdateCollegeDiary", "Dashboard"))
{
    <div id="">
        <div id="ClassDetails">
            @Html.HiddenFor(model => model.collegeId)
            <span>
                <b><u>College</u> : @Model.CollegeName (@Model.CollegeCode) </b><br /><br />
                <b><u>College Eamcet Code</u> : @Html.TextBoxFor(model => model.College_eamsetCode, new { @style="width:10%;" }) </b><br /><br />
                <b><u>Address</u> : @Model.CollegeAddress</b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><br /><br />
            <table width="100%">
                <thead style="background-color:brown;color:white;font-weight:bold;">
                    <tr>
                        <td style="text-align:center;">Designation</td>
                        <td style="text-align:center;">Name</td>
                        <td colspan="2" style="text-align:center;">Contact Details (Mobile/ Land line)</td>
                        <td style="text-align:center;">EmailID</td>
                        <td style="text-align:center;">Town Or City</td>
                        <td style="text-align:center;">Mandal</td>
                        <td style="text-align:center;">District</td>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <div class="editor-label">
                            <span>Society</span>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DisplayFor(model => model.SocietyName, new { @class = "txtbox" })
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SocietyMobile, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SocietyMobile)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SocietyPhoneNo, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SocietyPhoneNo)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SocietyEmail, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SocietyEmail)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SocietytownOrCity, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SocietytownOrCity)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SocietyMandal, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SocietyMandal)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.SocietyDistrictID, new SelectList(ViewBag.Districts as System.Collections.IEnumerable, "Did", "district"), "---Select---", new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SocietyDistrictID)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            <span>Chairman/ Secretary</span>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DisplayFor(model => model.Chairman, new { @class = "txtbox" })
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SecretaryMobile, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SecretaryMobile)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SecretaryPhoneNo, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SecretaryPhoneNo)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SecretaryEmail, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SecretaryEmail)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SecretarytownOrCity, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SecretarytownOrCity)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.SecretaryMandal, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SecretaryMandal)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.SecretaryDistrictID, new SelectList(ViewBag.Districts as System.Collections.IEnumerable, "Did", "district"), "---Select---", new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.SecretaryDistrictID)
                        </div>
                    </td>
                </tr>
               

                <tr>
                    <td>
                        <div class="editor-label">
                            <span>College</span>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DisplayFor(model => model.CollegeName, new { @class = "txtbox" })
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.CollegeMobile, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.CollegeMobile)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.CollegePhoneNo, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.CollegePhoneNo)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.CollegeEmail, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.CollegeEmail)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.CollegetownOrCity, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.CollegetownOrCity)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.CollegeMandal, new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.CollegeMandal)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.CollegeDistrictID, new SelectList(ViewBag.Districts as System.Collections.IEnumerable, "Did", "district"), "---Select---", new { @class = "txtbox" })
                            @Html.ValidationMessageFor(model => model.CollegeDistrictID)
                        </div>
                    </td>
                </tr>
                @if (Model.Director != null)
                {
                    <tr>
                        <td>
                            <div class="editor-label">
                                <span>Director</span>
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.DisplayFor(model => model.Director, new { @class = "txtbox" })
                                @Html.HiddenFor(model => model.Director)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.DirectorMobile, new { @class = "txtbox" })
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.DirectorPhoneNo, new { @class = "txtbox" })
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.DirectorEmail, new { @class = "txtbox" })
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">

                            </div>
                        </td>
                        <td>
                            <div class="editor-field">

                            </div>
                        </td>
                        <td>
                            <div class="editor-field">

                            </div>
                        </td>
                    </tr>
                }             
                <tr>
                    <td>
                        <div class="editor-label">
                            <span>Principal</span>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.PrincipalRegNo, new { id = "PrincipalRegNo" , @placeholder="Enter Registration Number and Press Tab" })
                            @Html.ValidationMessageFor(model => model.PrincipalRegNo)

                            @*@Html.LabelFor(model => model.PrincipalFirstName, " ", new { id = "PrincipalFirstName" })
                            @Html.HiddenFor(model => model.PrincipalFirstName, new { id = "PrincipalFirstName" })
                            @Html.LabelFor(model => model.PrincipalMiddleName, " ", new { id = "PrincipalMiddleName" })
                            @Html.HiddenFor(model => model.PrincipalMiddleName, new { id = "PrincipalMiddleName" })
                            @Html.LabelFor(model => model.PrincipalLastName, " ", new { id = "PrincipalLastName" })
                            @Html.HiddenFor(model => model.PrincipalLastName, new { id = "PrincipalLastName" })*@
                            @if (Model.Principal != null && Model.Principal != " ")
                            {
                                <span id="testname">@Model.Principal</span>
                                @Html.HiddenFor(model => model.PrincipalMobile)
                                @*@Html.DisplayFor(model => model.Principal)
                                @Html.HiddenFor(model => model.PrincipalFirstName)
                                @Html.HiddenFor(model => model.PrincipalMiddleName)
                                @Html.HiddenFor(model => model.PrincipalLastName)*@
                            }
                            else
                            {
                                <span id="testname">@Model.Principal</span>
                                @*@Html.LabelFor(model => model.PrincipalFirstName, " ", new { id = "PrincipalFirstName" })
                                @Html.HiddenFor(model => model.PrincipalFirstName, new { id = "PrincipalFirstName" })
                                @Html.LabelFor(model => model.PrincipalMiddleName, " ", new { id = "PrincipalMiddleName" })
                                @Html.HiddenFor(model => model.PrincipalMiddleName, new { id = "PrincipalMiddleName" })
                                @Html.LabelFor(model => model.PrincipalLastName, " ", new { id = "PrincipalLastName" })
                                @Html.HiddenFor(model => model.PrincipalLastName, new { id = "PrincipalLastName" })*@
                            }
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @if (Model.PrincipalMobile != null && Model.PrincipalMobile != " ")
                            {
                                <span id="testmobile">@Model.PrincipalMobile</span>
                                @*@Html.HiddenFor(model => model.PrincipalMobile)*@
                            }
                            else
                            {
                                 <span id="testmobile">@Model.PrincipalMobile</span>
                                @*@Html.LabelFor(model => model.PrincipalMobile, " ", new { id = "PrincipalMobile", @class = "txtbox" })
                                @Html.HiddenFor(model => model.PrincipalMobile, new { id = "PrincipalMobile" })*@
                            }

                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            
                            @if (Model.PrincipalEmail != null && Model.PrincipalEmail != " ")
                            {
                                <span id="testemail">@Model.PrincipalEmail</span>
                                @*@Html.HiddenFor(model => model.PrincipalEmail)*@
                            }
                            else
                            {
                                <span id="testemail">@Model.PrincipalEmail</span>
                                @*@Html.LabelFor(model => model.PrincipalEmail, " ", new { id = "PrincipalEmail", @class = "txtbox" })
                                @Html.HiddenFor(model => model.PrincipalEmail, new { id = "PrincipalEmail" })*@
                            }
                           
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">

                        </div>
                    </td>
                    <td>
                        <div class="editor-field">

                        </div>
                    </td>
                    <td>
                        <div class="editor-field">

                        </div>
                    </td>
                    <td>
                        <div class="editor-field">

                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <div>
                <input type="submit" name="Update" value="Update" style="float:right" />
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        $("#PrincipalRegNo").blur(function () {
            if ($('#PrincipalRegNo').val() != "") {
                $.ajax({
                    url: '/Dashboard/GetRegData',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({ "PrincipalRegNo": $('#PrincipalRegNo').val() }),
                    success: function (data, textStatus, jQxhr) {
                        debugger;
                        //$("label[for='PrincipalFirstName']").text("");
                        //$("input[name='PrincipalFirstName']").val("");

                        //$("label[for='PrincipalMiddleName']").text("");
                        //$("input[name='PrincipalMiddleName']").val("");

                        //$("label[for='PrincipalLastName']").text("");
                        //$("input[name='PrincipalLastName']").val("");

                        //$("label[for='PrincipalEmail']").text("");
                        //$("input[name='PrincipalEmail']").val("");

                        //$("label[for='PrincipalMobile']").text("");
                        //$("input[name='PrincipalMobile']").val("");

                        if (data.PrinData != "") {
                            var details = data.Data;
                            var Name = details.FirstName + " " + details.MiddleName + " " + details.LastName;
                            $("#testname").text(Name);
                            $("#testmobile").text(details.mobile);
                            $("#testemail").text(details.email);

                            //$("label[for='PrincipalFirstName']").text(details.FirstName);
                            //$("label[for='PrincipalFirstName']").text(details.FirstName);
                            //$("input[name='PrincipalFirstName']").val(details.FirstName);

                            //$("label[for='PrincipalMiddleName']").text(details.MiddleName);
                            //$("input[name='PrincipalMiddleName']").val(details.MiddleName);

                            //$("label[for='PrincipalLastName']").text(details.LastName);
                            //$("input[name='PrincipalLastName']").val(details.LastName);

                            //$("label[for='PrincipalEmail']").text(details.email);
                            //$("input[name='PrincipalEmail']").val(details.email);

                            //$("label[for='PrincipalMobile']").text(details.mobile);
                            //$("input[name='PrincipalMobile']").val(details.mobile);

                            // $("#PrincipalRegNo").removeClass("required");
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }
            else {
                //$("label[for='PrincipalFirstName']").text("");
                //$("input[name='PrincipalFirstName']").val("");

                //$("label[for='PrincipalMiddleName']").text("");
                //$("input[name='PrincipalMiddleName']").val("");

                //$("label[for='PrincipalLastName']").text("");
                //$("input[name='PrincipalLastName']").val("");

                //$("label[for='PrincipalEmail']").text("");
                //$("input[name='PrincipalEmail']").val("");

                //$("label[for='PrincipalMobile']").text("");
                //$("input[name='PrincipalMobile']").val("");
                //alert("Please Enter Registration Number");
            }
        });
    });


</script>