@model UAAAS.Models.Permanent_Affiliation.FacultyInformationModel

@{
    Layout = "~/Views/Shared/_PALayoutLeftMenu.cshtml";
    ViewBag.Title = "Faculty Information";
}
@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div><br />
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div><br />
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        var $myDialog = $("#dialog-edit").dialog({
            title: '',
            autoOpen: false,
            resizable: false,
            height: 500,
            //height: 550,
            //width: 820,
            width: 720,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $(".confirmDialog").live("click", function (e) {
            debugger;
            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                title: 'Delete Faculty Information',
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                        window.location = url;
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $("#txt_fac_on_role").change(function () {
            var fac_on_role = $("#txt_fac_on_role").val();
            var fac_term = $("#txt_fac_term").val();

            if (fac_on_role != '' && fac_term != '') {
                var value = (fac_on_role - fac_term) / (fac_on_role * 100)
                $("#txt_retention").val(value);
            }
        });

        $("#txt_fac_term").change(function () {
            var fac_on_role = $("#txt_fac_on_role").val();
            var fac_term = $("#txt_fac_term").val();

            if (fac_on_role != '' && fac_term != '') {
                var value = (fac_on_role - fac_term) / (fac_on_role * 100)
                $("#txt_retention").val(value);
            }
        });
    });
</script>

<h2>Faculty Information</h2><br />

@using (Html.BeginForm("Edit", "PA_FacultyInformation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.FacultyInfoId, new { @Value = Model.FacultyInfoId })
    @Html.HiddenFor(model => model.CollegeId, new { @Value = Model.CollegeId })

    <table class="webGrid" style="width: 100%;">
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.AcademicYearId)
            </td>
            <td class="col2">
                @Html.DropDownListFor(model => model.AcademicYearId, new SelectList(ViewBag.AcademicYears as System.Collections.IEnumerable, "id", "academicYear"), "---Select---", new { @class = "required", @style = "width:161px" })
                @Html.ValidationMessageFor(model => model.AcademicYearId)
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.DegreeID)
            </td>
            <td class="col2">
                @Html.DropDownListFor(model => model.DegreeID, new SelectList(ViewBag.Degrees as System.Collections.IEnumerable, "id", "degree"), "---Select---", new { @id = "degreeId", @class = "required", @style = "width:161px" })
                @Html.ValidationMessageFor(model => model.DegreeID)
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.Label("Staff : Student Ratio")
            </td>
            <td class="col2">
                @Html.TextBoxFor(model => model.Staff, new { @class = "required", onkeypress = "return isNumberKey(event)", @placeholder = "Enter Staff Ratio" })
                @Html.ValidationMessageFor(model => model.Staff)

                @Html.TextBoxFor(model => model.Students, new { @class = "required", onkeypress = "return isNumberKey(event)", @placeholder = "Enter Student Ratio" })
                @Html.ValidationMessageFor(model => model.Students)
            </td>
        </tr>
        <tr style="display: none;">
            <td class="col1">
                @Html.LabelFor(model => model.Students)
            </td>
            <td class="col2">
                @Html.TextBoxFor(model => model.Students, new { @class = "required", onkeypress = "return isNumberKey(event)" })
                @Html.ValidationMessageFor(model => model.Students)
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.FacultyOnRole)
            </td>
            <td class="col2">
                @Html.TextBoxFor(model => model.FacultyOnRole, new { @class = "required", @id = "txt_fac_on_role", onkeypress = "return isNumberKey(event)", @placeholder = "Enter Faculty on Role" })
                @Html.ValidationMessageFor(model => model.FacultyOnRole)
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.FacultyTerminatedResigned)
            </td>
            <td class="col2">
                @Html.TextBoxFor(model => model.FacultyTerminatedResigned, new { @class = "required", @id = "txt_fac_term", onkeypress = "return isNumberKey(event)", @placeholder = "Enter Faculty Terminated / Resigned", @style = "width:230px" })
                @Html.ValidationMessageFor(model => model.FacultyTerminatedResigned)
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.RetentionPercentage)
            </td>
            <td class="col2">
                @Html.TextBoxFor(model => model.RetentionPercentage, new { @readonly = "true", @id = "txt_retention" })
                @Html.ValidationMessageFor(model => model.RetentionPercentage)
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.PayscaleSelected)
            </td>
            <td class="col2">
                <label>@Html.RadioButtonFor(model => model.PayscaleSelected, 1, new { @id = "payscaleSelectedYes" }) Yes</label>
                <label>@Html.RadioButtonFor(model => model.PayscaleSelected, 2, new { @id = "payscaleSelectedNo" }) No</label>
                @Html.ValidationMessageFor(model => model.PayscaleSelected)
            </td>
        </tr>
        <tr id="assiProfPayScaleRow">
            <td class="col1">
                @Html.LabelFor(model => model.AssiProfPayScale)
            </td>
            <td class="col2">
                @Html.DropDownListFor(model => model.AssiProfPayScale, new SelectList(ViewBag.PayScales as System.Collections.IEnumerable, "value", "text"), "---Select---", new { @id = "assiProfPayScale", @class = "required", @style = "width:161px" })
                @Html.TextBoxFor(model => model.AssiProfPay, new { @placeholder = "Enter Pay scale", @class = "required", @id = "asstProfPay" })
                @*@Html.TextBoxFor(model => model.OthersAsst, new { @style = "display:none", @placeholder = "Enter Other Pay scale", @id = "othersAsst", @class = "required" })*@
            </td>
        </tr>
        <tr id="assoProfPayScaleRow">
            <td class="col1">
                @Html.LabelFor(model => model.AssoProfPayScale)
            </td>
            <td class="col2">
                @Html.DropDownListFor(model => model.AssoProfPayScale, new SelectList(ViewBag.PayScales as System.Collections.IEnumerable, "value", "text"), "---Select---", new { @id = "assoProfPayScale", @class = "required", @style = "width:161px" })
                @Html.TextBoxFor(model => model.AssoProfPay, new { @placeholder = "Enter Pay scale", @class = "required", @id = "assoProfPay" })
                @*@Html.TextBoxFor(model => model.OthersAsso, new { @style = "display:none", @placeholder = "Enter Other Pay scale", @id = "othersAsso", @class = "required" })*@
            </td>
        </tr>
        <tr id="profPayScaleRow">
            <td class="col1">
                @Html.LabelFor(model => model.ProfPayScale)
            </td>
            <td class="col2">
                @Html.DropDownListFor(model => model.ProfPayScale, new SelectList(ViewBag.PayScales as System.Collections.IEnumerable, "value", "text"), "---Select---", new { @id = "profPayScale", @class = "required", @style = "width:161px" })
                @Html.TextBoxFor(model => model.ProfPay, new { @placeholder = "Enter Pay scale", @class = "required", @id = "profPay" })
                @*@Html.TextBoxFor(model => model.OthersProf, new { @style = "display:none", @placeholder = "Enter Other Pay scale", @id = "othersProf", @class = "required" })*@
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.Oppurtunities)
            </td>
            <td class="col2">
                <label>@Html.RadioButtonFor(model => model.Oppurtunities, 1, new { @id = "oppurtunitiesYes" }) Yes</label>
                <label>@Html.RadioButtonFor(model => model.Oppurtunities, 2, new { @id = "oppurtunitiesNo" }) No</label>
                @Html.ValidationMessageFor(model => model.Oppurtunities)
            </td>
        </tr>
        <tr></tr>
    </table>

    <div style="text-align: right">
        <p>
            <input type="submit" value="Add" id="btnAdd" name="cmd" class="btnclass" />
        </p>
    </div>
}
<br />
@if (ViewBag.FacultyInformationList.Count > 0)
{
    <div style="margin-top:15px;">
        <h2>Faculty Information</h2><br />
        <table class="webGrid">
            <thead>
                <tr class="col1">
                    <th>S.No</th>
                    <th>Academic Year</th>
                    <th>Degree</th>
                    <th>Staff : Student Ratio</th>
                    <th>Total No. of Faculty on Role</th>
                    <th>Total No. of Faculty Terminated / Resigned</th>
                    <th>Retention Percentage</th>
                    <th>Pay scale implemented</th>
                    <th>Assistant Prof. Pay scale</th>
                    <th>Assistant Prof. Pay</th>
                    <th>Associate Prof. Pay scale</th>
                    <th>Associate Prof. Pay</th>
                    <th>Professor Pay scale</th>
                    <th>Professor Pay</th>
                    <th>Oppurtunities Provided to faculty</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pay in ((List<UAAAS.Controllers.Permanent_Affiliation.FacultyInfo>)ViewBag.FacultyInformationList).Select((value, i) => new { i = i + 1, value }))
                {
                    <tr class="col2">
                        <td>@pay.i </td>
                        <td style="width: 6%;">@pay.value.AcademicYear</td>
                        <td>@pay.value.Degree</td>
                        <td style="width: 12%;">@pay.value.Staff : @pay.value.Students</td>
                        <td>@pay.value.FacultyOnRole</td>
                        <td>@pay.value.FacultyTerminatedResigned</td>
                        <td>@pay.value.RetentionPercentage</td>
                        <td>@pay.value.PayscaleSelected</td>
                        @if (string.IsNullOrEmpty(pay.value.AssiProfPayScale))
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@pay.value.AssiProfPayScale</td>
                        }
                        @if (string.IsNullOrEmpty(pay.value.AssiProfPay))
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@pay.value.AssiProfPay</td>
                        }
                        @if (string.IsNullOrEmpty(pay.value.AssoProfPayScale))
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@pay.value.AssoProfPayScale</td>
                        }
                        @if (string.IsNullOrEmpty(pay.value.AssoProfPay))
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@pay.value.AssoProfPay</td>
                        }
                        @if (string.IsNullOrEmpty(pay.value.ProfPayScale))
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@pay.value.ProfPayScale</td>
                        }
                        @if (string.IsNullOrEmpty(pay.value.ProfPay))
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@pay.value.ProfPay</td>
                        }
                        <td>@pay.value.Oppurtunities</td>
                        @if (ViewBag.IsEditable == true)
                        {
                            <td>
                                @Html.ActionLink("Delete", "Delete", "PA_FacultyInformation", new
                    {
                        collegeId = UAAAS.Models.Utilities.EncryptString(pay.value.CollegeId.ToString(),
                                    System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]).ToString(),

                        facultyInfoId = UAAAS.Models.Utilities.EncryptString(pay.value.FacultyInfoId.ToString(),
                        System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]).ToString(),
                    }, new { @class = "confirmDialog delete_button" })
                            </td>
                        }
                    </tr>
                }
            </tbody>
            <script type="text/javascript">

                $("#assiProfPayScaleRow").attr('style', 'display: none');
                $("#assoProfPayScaleRow").attr('style', 'display: none');
                $("#profPayScaleRow").attr('style', 'display: none');

                $("#payscaleSelectedYes").click(function () {
                    $("#assiProfPayScaleRow").removeAttr('style');
                    $("#assoProfPayScaleRow").removeAttr('style');
                    $("#profPayScaleRow").removeAttr('style');
                });
                $("#payscaleSelectedNo").click(function () {
                    $("#assiProfPayScaleRow").attr('style', 'display: none');
                    $("#assoProfPayScaleRow").attr('style', 'display: none');
                    $("#profPayScaleRow").attr('style', 'display: none');

                    $("#assiProfPayScale").val(0);
                    $("#assoProfPayScale").val(0);
                    $("#profPayScale").val(0);
                });

                //$("#assiProfPayScale").change(function () {
                //    if ($("#assiProfPayScale").val() == "Others") {
                //        $("#othersAsst").attr('style', 'display: block');
                //        $("#asstProfPay").attr('style', 'display: none');
                //    }
                //    else if ($("#assiProfPayScale").val() == "") {
                //        $("#othersAsst").attr('style', 'display: none');
                //        $("#asstProfPay").attr('style', 'display: none');
                //    }
                //    else {
                //        $("#othersAsst").attr('style', 'display: none');
                //        $("#asstProfPay").attr('style', 'display: block');
                //    }
                //});
                //$("#assoProfPayScale").change(function () {
                //    if ($("#assoProfPayScale").val() == "Others") {
                //        $("#othersAsso").attr('style', 'display: block');
                //        $("#assoProfPay").attr('style', 'display: none');
                //    }
                //    else if ($("#assoProfPayScale").val() == "") {
                //        $("#othersAsso").attr('style', 'display: none');
                //        $("#assoProfPay").attr('style', 'display: none');
                //    }
                //    else {
                //        $("#othersAsso").attr('style', 'display: none');
                //        $("#assoProfPay").attr('style', 'display: block');
                //    }
                //});
                //$("#profPayScale").change(function () {
                //    if ($("#profPayScale").val() == "Others") {
                //        $("#othersProf").attr('style', 'display: block');
                //        $("#profPay").attr('style', 'display: none');
                //    }
                //    else if ($("#profPayScale").val() == "") {
                //        $("#othersProf").attr('style', 'display: none');
                //        $("#profPay").attr('style', 'display: none');
                //    }
                //    else {
                //        $("#othersProf").attr('style', 'display: none');
                //        $("#profPay").attr('style', 'display: block');
                //    }
                //});
            </script>

        </table>
    </div>
}

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        Are you sure to delete this Faculty Information ?
    </p>
</div>