@model IEnumerable<UAAAS.Models.OperationalFunds>
@{
    ViewBag.Title = "Financial Status";
    Layout = "~/Views/Shared/_PALayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_DataEntryLayoutLeftMenu.cshtml";
    }

    int num = 1;
    // int cNum = 1;
}

<h2>Financial Status</h2>
<script type="text/javascript">
    $(document).ready(function () {

        var mainUrl = window.location;
        var url;

        $.ajaxSetup({ cache: false });

        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/Edit Financial Status',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Add Financial Status'
            });
            url = $("#openDialog").attr('href');

            $myDialog.dialog('open');
            return false;
        });

        $('.full_table').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();

            $("#dialog-edit").dialog({
                title: 'Edit Operational Funds'
            });

            $myDialog.dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {

            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                title: 'Delete Operational Funds',
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "No": function () {
                        $(this).dialog("close");

                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Operational Funds',
                autoOpen: false,
                resizable: false,
                height: 380,
                width: 400,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });
</script>
@if (ViewBag.NotUpload == true)
{
    <span class="notUpload">You can not upload data Please contact Affiliations & Academic Audit if you want to upload</span>
}
else
{
    if (TempData["Error"] != null)
    {
        <div class="error">
            <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
        </div>
    }
    if (TempData["Success"] != null)
    {
        <div class="success">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
    }
    <table style="width: 100%">
        <tr>
            @*<td>
                    <b>Operational Funds</b>
                </td>*@
            <td class="create_link_right">
                @Html.ActionLink("Add", "AddEditRecord", "PA_OperationalFunds", new { collegeId = @ViewBag.collegeId }, new { @id = "openDialog", @class = "create_button" })
            </td>
        </tr>
    </table>
    <table class="full_table" style="width: 100%;">
        <tr>
            <th style="text-align: center;">
                S.No
            </th>
            <th>
                Name of the  &nbsp;&nbsp;&nbsp;&nbsp;Bank
            </th>
            <th style="text-align: center;">
                Branch
            </th>
            <th style="text-align: center;">
                Address
            </th>
            <th style="text-align: center;">
                Account No
            </th>
            <th style="text-align: center; width: 150px;">
                FDR, if any (Excluding FDR submitted to AICTE)
            </th>
            <th style="text-align: center;">
                Cash Balance
                <br />
                (Rs. in Lakhs)

            </th>
            <th style="text-align: center;">
                Total
            </th>
            <th style="text-align: center;">
                FDR Doc
            </th>
            <th colspan="3" style="text-align: center;"></th>
        </tr>

        @foreach (var item in ViewBag.OperationalFunds as List<UAAAS.Models.OperationalFunds>)
        {
            <tr>
                <td style="width: 50px; text-align: center;">
                    @(num++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bankBranch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bankAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bankAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FDR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cashBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td style="width: 30px; text-align: center;">
                    @if (item.FDRReceiptview != null)
                    {
                        <a href="../Content/Upload/College/operationalFunds/@item.FDRReceiptview" target="_blank">
                            <span style="color:red;font-weight:bold;">View</span>
                        </a>
                    }
                </td>
                <td style="width: 30px; text-align: center;">
                    @Html.ActionLink("Edit", "AddEditRecord", new { id = item.id }, new { @class = "editDialog edit_button" })
                </td>
                <td style="width: 30px; text-align: center;">
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "viewDialog view_button" })
                </td>
                <td style="width: 30px; text-align: center;">
                    @Html.ActionLink("Delete", "DeleteRecord", new { id = item.id }, new { @class = "confirmDialog delete_button" })
                </td>
            </tr>
        }

    </table>
    if (ViewBag.Count == 0)
    {
        <div class="warning" style="width: 200px; margin: 0 auto;">
            <p>No records found</p>
        </div>
    }
    <div id="dialog-confirm" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to delete ?
        </p>
    </div>
    <div id="dialog-edit" style="display: none">
    </div>
    <div id="dialog-view" style="display: none">
    </div>
    <br />
    <br />
}