@model IList<UAAAS.Models.Lab>
@using UAAAS.Models;
@{
    uaaasDBContext db = new uaaasDBContext();
    ViewBag.Title = "Laboratories";
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_DataEntryLayoutLeftMenu.cshtml";
    }
    int count = 0;
}
<h2>Laboratories</h2>
@using (Html.BeginForm())
{  
    if (ViewBag.Count == 0)
    {
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
    }
    else
    {
        <table class="webGrid" style="width: 100%;">
        <tr style="font-weight: bold;" class="gridHeader">
            <td style="text-align: center; width: 5%;">S.No</td>
            <td style="text-align: left; width: 10%;">Degree</td>
            <td style="text-align: left; width: 10%;">Department</td>
            <td style="text-align: left;">Specialization</td>
            <td style="text-align: left;">Semester</td>
            <td style="text-align: center; width: 5%;">year</td>
            <td style="text-align: left;">Lab Code</td>
            <td style="text-align: left;">Lab Name</td>
            <td style="text-align: left; width: 10%;">Equipment Name</td>
            <td style="text-align: left; width: 20%;">Available</td>
        </tr>       
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td style="text-align: center; width: 5%; background-color: #FCF1D1" class="col1">
                    @Html.HiddenFor(m => m[i].id)
                    @Html.HiddenFor(m => m[i].degreeId)
                    @Html.HiddenFor(m => m[i].departmentId)
                    @Html.HiddenFor(m => m[i].specializationId)
                    @Html.HiddenFor(m => m[i].year)
                    @Html.HiddenFor(m => m[i].LabName)
                    @Html.HiddenFor(m => m[i].EquipmentName)
                    @Html.HiddenFor(m => m[i].EquipmentNo)
                    @(i + 1)
                </td>
                <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].degree)</td>
                <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].department)</td>
                <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].specializationName)</td>
                 @if (Model[i].Semester != 0)
                    {
                        <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].Semester)</td>
                    }
                    else
                    {
                        <td style="background-color: #FCF1D1"></td>
                    }
                    @if (Model[i].year != 0)
                    {
                        <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].year)</td>
                    }
                    else
                    {
                        <td style="background-color: #FCF1D1"></td>
                    }
                <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].Labcode)</td>
                <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].LabName)</td>
                <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].EquipmentName)</td>


                @{
            var eqid = Model[i].EquipmentID;
            var id = Model[i].id;
            var EquipmentNo = Model[i].EquipmentNo;
            count = db.jntuh_college_laboratories.Where(l => l.id == id && l.EquipmentNo == EquipmentNo).Select(l => l.id).Count();
                }

                @if (count > 0)
                {
                    <td style="background-color: #FCF1D1">
                        @Html.RadioButton("Availability" + i, true, true, new { id = Model[i].id, eqpid = "undefined", @class = "editDialog",@disabled="disabled" }) Yes &nbsp;&nbsp; 
                        @Html.RadioButton("Availability" + i, false, new { id = Model[i].id, eqpid = "undefined", @class = "delete" ,@disabled="disabled"}) No                        
                    </td>
                    
                }
                else
                {
                    <td style="background-color: #FCF1D1">
                        @Html.RadioButton("Availability" + i, true, new { eqpid = Model[i].EquipmentID, id = DBNull.Value, @class = "editDialog" ,@disabled="disabled"}) Yes &nbsp;&nbsp;
                        @Html.RadioButton("Availability" + i, false, true, new { eqpid = Model[i].EquipmentID, id = DBNull.Value, @class = "delete" ,@disabled="disabled"}) No
                    </td>
                }

            </tr>
        }
    </table>
    }
}

