@model IEnumerable<UAAAS.Models.ChairPerson>
@{
    ViewBag.Title = "RTI_AllChairPersonsInformation";
    var index = 1;
}

@using (Html.BeginForm())
{
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    S.No
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Code
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">College Name</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">First Name</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Last Name</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Surname</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Designation</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Address</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Town (or) City</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Mandal</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">State</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">District</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Pincode</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Fax</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Landline</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Mobile</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Email</th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">Website Address</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;vertical-align: top">
                        @(index++)
                    </td>
                    <td style="text-align: center;vertical-align: top; text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => item.collegeCode)
                    </td>
                    <td style="text-align: left;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.collegeName)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.surname)
                    </td>
                    <td style="text-align: center;vertical-align: top"> 
                        @Html.DisplayFor(modelItem => item.designationName)

                    </td>
                    <td style="text-align: left;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.townOrCity)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.mandal)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @ViewBag.StateName
                        @Html.HiddenFor(modelItem => item.stateId)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @ViewBag.DistrictName
                        @Html.HiddenFor(modelItem => item.districtId)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.pincode, new { @Value = item.pincode == 0 ? "" : item.pincode.ToString() })
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.fax)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.landline)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.mobile)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td style="text-align: center;vertical-align: top">
                        @Html.DisplayFor(modelItem => item.website)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (ViewBag.Count == 0)
{
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
}




