@model IEnumerable<UAAAS.Models.jntuh_college_bas_complaints>

@{
    ViewBag.Title = "BasCollegeComplaint";
    var index = 1;
}

<h2>BAS Complaints</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.plugin.from_html.js")" type="text/javascript"></script>
<script type="text/javascript">
    var asInitVals = new Array();

    $(document).ready(function() {
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 25,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function() {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0; i < oSettings.aoPreSearchCols.length; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null, null, null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function(i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function() {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function(i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        //Update collegestatus popup


        $(".replayeditDialog").live("click", function(e) {
            debugger;
            e.preventDefault();
            var url = $(this).attr('href');

            $("#dialog-edit").dialog({
                title: 'College Reply Status',
                width: 750,
                height: 400,
                model: true,
                resizable: false,
                autoOpen: false,
                show: { effect: 'drop', direction: 'up' },
                draggable: true,
                closeOnEscape: true,
                open: function(event, ui) {
                    $(this).load(url);
                },
                close: function(event, ui) {
                    debugger;
                    var clgid = $("#item_collegeid").val();
                    window.location.href = '/CollegeComplaints/BasViewCollegeComplaint?collegeid=' + clgid;
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function(e) {
            debugger;
            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                title: 'Faculty Flags Rollback',
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Yes": function() {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "No": function() {
                        $(this).dialog("close");

                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

    });
</script>
@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th style="width:20px; text-align:center;">
                S.No
            </th>
            <th style="text-align:center;width: 40%;">
                Request Number
            </th>
            <th style="text-align:center;width: 60%;">
                Complaint
            </th>
            <th style="text-align:center;width: 40%;">
                Complaint Date (MM/DD/YY)
            </th>
            <th style="text-align:center;width: 20%;">
                Replay Status
            </th>
            <th style="text-align:center;">
                Replay Status Date  (MM/DD/YY)
            </th>
            <th style="text-align:center;">
                Document
            </th>
            <th>
                Edit
            </th>
            @if (User.IsInRole("Admin"))
            {
                 <th>
                Delete
            </th>
            }
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @(index++)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.complaintid)
                </td>
                <td style="text-transform: uppercase;text-wrap:normal;width:10px;">
                  
                    @Html.HiddenFor(modelItem => item.collegeid)
                   @if (item.complaint.Length >= 60)
                   {
                    @item.complaint.Substring(0, 59)
                    <text> ..........................more </text>
                   }
                   else
                   {
                    @item.complaint
                   }
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.complaintdate.ToString().Split(' ')[0])
                </td>
                <td style="text-align:center;">
                    @if (@item.replaystatus == true)
                    {
                    <span>Yes</span>
                    }
                    else
                    {
                    <span>No</span>
                    }
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.replaydate.ToString().Split(' ')[0])
                </td>
                <td>
                    @if (item.supportdoc != null)
                    {
                        <a href="~/Content/Upload/complaints/bascomplaints/@item.supportdoc" target="_blank">
                            <span style="font-weight: bold; color: red;">View</span>
                        </a>
                    }
                </td>
                <td>
                    @if (@item.replaystatus != true)
                    {
                        @Html.ActionLink("Edit", "EditBasComplaint", "CollegeComplaints", new {id = item.id}, new {@class = "replayeditDialog edit_button"})
                    }
                    else
                    {
                        <span>---</span>
                    }
                </td>
                @if (User.IsInRole("Admin"))
                {
                 <td>
                   
                        @Html.ActionLink("Delete", "DeleteBasComplaint", "CollegeComplaints", new { id = item.id }, new { @class = "confirmDialog delete_button" })
                </td>
                }
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>
                <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-2" style="width: 90%; text-align: left;display: none;" class="search_init" ">
            </th>
            <th>
                <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
            </th>
            <th class=" ui-state-default">
                <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th class=" ui-state-default">
                <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th class=" ui-state-default">
                <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th class=" ui-state-default">
                <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            }

        </tr>
    </tfoot>
</table>
<div id="dialog-confirm" style="display: none">
</div>
<div id="dialog-view" style="display: none">
</div>
<div id="dialog-edit" style="display: none">
</div>
