@model List<UAAAS.Controllers.EnglishCommunicationLabs>
@using (Html.BeginForm())
{
    int count = 1;
    string Date = string.Empty;
    string Date12 = string.Empty;
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    S.No
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    CollegeCode
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    CollegeName
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    address
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    LabName
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    EquipmentName
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Make
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Model
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Photo
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr style="height:45px;">
                        <td style="text-align: left;vertical-align:top;">@(count++)</td>
                        <td style="text-align: left;vertical-align:top;">@item.CollegeCode</td>
                        <td style="text-align: left;vertical-align:top;">@item.CollegeName</td>
                        <td style="text-align: left;vertical-align:top;">@item.address</td>
                        <td style="text-align: left;vertical-align:top;">@item.LabName</td>
                        <td style="text-align: left;vertical-align:top;">@item.EquipmentName</td>
                        <td style="text-align: left;vertical-align:top;">@item.make</td>
                        <td style="text-align: left;vertical-align:top;">@item.model</td>                      
                        <td style="text-align: right;">
                            <div style="">
                                <img src="http://jntuhaac.in/Content/Upload/EquipmentsPhotos/@item.Photo" height="40" width="50" />
                                @*<img src="C:\SIVA JNTUH\SVN Development\SVN UAAAS 10-08-2018\Content\Upload\Faculty\Photos\@Model.Photo" height="40" />*@
                            </div>
                        </td>
                    </tr>
                }


            }

        </tbody>
    </table>
}