@model List<UAAAS.Controllers.CollegeApprovedList>
@using UAAAS.Models
@{
    uaaasDBContext db = new uaaasDBContext();
    ViewBag.Title = "Affiliation Fee";
    int Cid = 0;
    string Ctype = string.Empty;
    if (Model != null)
    {
        Cid = Model.Select(s => s.collegeId).FirstOrDefault();
        Ctype = Model.Select(s => s.CollegeType).FirstOrDefault();
    }
    int count = 1;
    int deptloop = 1;

    int FeeFirstYear = 0;
    int FeeSecondYear = 0;
    int FeeThirdYear = 0;
    int FeeFourthYear = 0;

    int approvedFeeFirstYear = 0;
    int approvedFeeSecondYear = 0;
    int approvedFeeThirdYear = 0;
    int approvedFeeFourthYear = 0;

    int admittedFeeFirstYear = 0;
    int admittedFeeSecondYear = 0;
    int admittedFeeThirdYear = 0;
    int admittedFeeFourthYear = 0;


    int totalfee = 0;
    int duesfee = 0;
    int Width = 0;

    string EncodedCollegeId = null;

    if (ViewBag.DuesFee != null)
    {
        Width = 342;
    }
    else
    {
        Width = 340;
    }
    var GroupofInstitutions = db.jntuh_afrc_fee.Where(a => a.groupofInstitutionsafrcFee != null).Select(w => w.collegeId).ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.plugin.from_html.js")" type="text/javascript"></script>

<script type="text/javascript">
    var collegeid = "";
    $(document).ready(function () {
        $("#AcademicYearId").change(function () {
            debugger;
            var AcademicYearId = $(this).val();
            var collegeId = $("#CollegeId").val();
            window.location.href = "/CollegesFee/FeeCalculation?collegeid=" + collegeId + "&AcademicYearId=" + AcademicYearId;
        });

        $("#CollegeId").change(function () {
            debugger;
            var collegeId = $(this).val();
            var AcademicYearId = $("#AcademicYearId").val();
            if (AcademicYearId == "") {

            }
            else {
                window.location.href = "/CollegesFee/FeeCalculation?collegeid=" + collegeId + "&AcademicYearId=" + AcademicYearId;
            }

        });

        $("#PaidAmount").click(function () {
            var url = $(this).attr('href');
            var $myDialog = $("#OpenDialog").dialog({
                title: 'Paid Amount Details',
                model: true,
                height: 300,
                width: 450,
                autoOpen: false,
                resizable: false,
                show: { effect: 'drop', direction: 'up' },
                draggable: true,
                closeOnEscape: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                close: function (event, ui) {
                    $(this).dialog("close");
                }
            });
            $("#OpenDialog").dialog('open');
            return false;
        });

        $("#ShowUL").on("click", function () {
            debugger;
            var status = $("#ulShow").css('display');
            if (status == "none") {
                $("#ulShow").css({ "display": "block" });
            }
            else {
                $("#ulShow").css({ "display": "none" });
            }
        });

    });
</script>

<div>
    <table width="100%">
        <tr>
            <td width="40%"><h2>Year Wise Affiliation Fee</h2></td>
            <td width="30%" style="text-align:right">
                @if (TempData["afrcFee"] != null)
                {
                    <div style="font-size:20px;">
                        <span style="text-align:right;color:#f49820;font-weight:bold;">College AFRC FEE &nbsp;:&nbsp;  <span style="color:black;">@TempData["afrcFee"].ToString()</span></span>
                    </div>
                }
                @if (GroupofInstitutions.Contains(Cid))
                {
                    if (TempData["Bpharmacy_afrcFee"] != null)
                    {
                        <div style="font-size:20px;">
                            <span style="text-align:right;color:#f49820;font-weight:bold;">College AFRC FEE(Pharmacy) &nbsp;:&nbsp;  <span style="color:black;">@TempData["Bpharmacy_afrcFee"].ToString()</span></span>
                        </div>
                    }
                }
            </td>
            <td width="10%" style="text-align:left">
                &nbsp;&nbsp;<a href="/CollegesFee/GetPaidAmountDetails?Collegeid=@Cid&&academicyearid=@TempData["YearId"]" class="create_button" id="PaidAmount">Paid Amount</a>
            </td>
            <td width="20%" style="text-align:right;">
                @*<div>
                    <div>
                        @Html.ActionLink("Download With PendingFee", "AffiliationFeeReport", "CollegesFee", new { CollegeId = Cid, type = Ctype, academicYearId = TempData["YearId"], IsPending = true }, new { @class = "create_button", target = "_blank" })
                    </div><br/>
                    <div>
                        @Html.ActionLink("Download With Out PendingFee", "AffiliationFeeReport", "CollegesFee", new { CollegeId = Cid, type = Ctype, academicYearId = TempData["YearId"], IsPending = false }, new { @class = "create_button", target = "_blank" })
                    </div>
                </div>*@
                <div>                   
                    <button type="button" class="create_button" id="ShowUL">Download</button>                 
                    <ul id="ulShow" style="display:none;">
                        <li>
                            @Html.ActionLink("Download With PendingFee", "AffiliationFeeReport", "CollegesFee", new { CollegeId = Cid, type = Ctype, academicYearId = TempData["YearId"], IsPending = true }, new { @class = "create_button", target = "_blank", @style = "background-color:#1479FB;" })
                        </li>
                        <li>
                            @Html.ActionLink("Download With Out PendingFee", "AffiliationFeeReport", "CollegesFee", new { CollegeId = Cid, type = Ctype, academicYearId = TempData["YearId"], IsPending = false }, new { @class = "create_button", target = "_blank", @style = "background-color:crimson;" })
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
<br />

<div>
    <div class="editor-label" style="width:151px;">
        <span>Colleges</span>

    </div>
    <div class="editor-field" style="width:693px;">
        @Html.DropDownList("CollegeId", new SelectList(ViewBag.Colleges as System.Collections.IEnumerable, "CollegeId", "CollegeName"), "---Select---", new { @style = "width:689px;" })
    </div>
    <div class="editor-label" style="width:190px;">
        <span>Academic Years</span>

    </div>
    <div class="editor-field" style="width:241px;">
        @Html.DropDownList("AcademicYearId", new SelectList(ViewBag.AcademicYears as System.Collections.IEnumerable, "AcademicYearId", "AcademicYear"), "---Select---", new { @style = "width:240px;" })
    </div>
</div>


@if (Model == null || Model.Count == 0)
{
}
else
{
    <br /><br />
    using (Html.BeginForm())
    {
        <br />
        <table class="full_table" style="width: 100%; font-size: 0.7rem;">
            <tr>
                <th style="text-align: center;" rowspan="3">
                    S.No
                </th>
                <th rowspan="3">
                    Degree
                </th>
                <th style="text-align: center;" rowspan="3">
                    Dept.
                </th>
                <th style="text-align: center;" rowspan="3">
                    Specialization
                </th>
                <th style="text-align: center;" rowspan="3">
                    Shift
                </th>
                <th style="text-align: center;" colspan="16">
                    <img src="../../Content/images/approved.png" alt="approved" title="Approved" />
                    Approved Intake  &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp;
                    <img src="../../Content/images/admitted.png" alt="admitted" title="Admitted" />
                    Admitted Intake
                </th>
            </tr>
            <tr>
                <th style="text-align: center;" colspan="3">

                    @ViewBag.FirstYear
                </th>
                <th style="text-align: center;" colspan="4">

                    @ViewBag.SecondYear
                </th>
                <th style="text-align: center;" colspan="4">
                    @ViewBag.ThirdYear
                </th>
                <th style="text-align: center;" colspan="4">
                    @ViewBag.FourthYear
                </th>
                <th style="text-align: center;" rowspan="2">
                    <span><b>Total</b></span>
                </th>
            </tr>
            <tr>
                <th style="text-align: center;">
                    <img src="../../Content/images/approved.png" alt="approved" title="Approved" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="Admitted" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/Indiancurrency.png" alt="fee" title="fee" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/approved.png" alt="approved" title="Approved" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="Admitted" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="lateral" style="transform: rotate(270deg);" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/Indiancurrency.png" alt="fee" title="fee" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/approved.png" alt="approved" title="Approved" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="Admitted" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="lateral" style="transform: rotate(270deg);" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/Indiancurrency.png" alt="fee" title="fee" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/approved.png" alt="approved" title="Approved" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="Admitted" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/admitted.png" alt="admitted" title="lateral" style="transform: rotate(270deg);" />
                </th>
                <th style="text-align: center;">
                    <img src="../../Content/images/Indiancurrency.png" alt="fee" title="fee" />
                </th>
            </tr>

            @foreach (var data in Model)
            {
                int coursetotal = 0;
                int columnspanfirst = 0;
                int columnspansecond = 0;
                int columnspanthird = 0;
                int columnspanfourth = 0;
                columnspanfirst = Model.Count(e => e.degreeId == 4 || e.degreeId == 5);
                columnspansecond = Model.Count(e => e.degreeId == 4 || e.degreeId == 5);
                columnspanthird = Model.Count(e => e.degreeId == 4 || e.degreeId == 5);
                columnspanfourth = Model.Count(e => e.degreeId == 4 || e.degreeId == 5);
                int totalugcount = Model.Count(e => e.degreeId == 4 || e.degreeId == 5);

                int approvedIntake1 = 0;
                int approvedIntake2 = 0;
                int approvedIntake3 = 0;
                int approvedIntake4 = 0;
                int admittedIntake1 = 0;
                int admittedIntake2 = 0;
                int admittedIntake3 = 0;
                int admittedIntake4 = 0;

                int currentindex = Model.IndexOf(data);

                if (Model[currentindex].degreeId == 5)
                {
                    if (currentindex > 0 && (Model[currentindex].degreeId == 4 || Model[currentindex].degreeId == 5))
                    {
                        deptloop++;
                    }
                }
                else
                {
                    if (currentindex > 0 && Model[currentindex].Degree != Model[currentindex - 1].Degree && Model[currentindex].degreeId == 4)
                    {
                        deptloop = 1;
                    }
                }

                <tr>
                    <td style="width: 30px; text-align: center;">
                        @(count++)
                    </td>
                    <td style="width: 60px;">@data.Degree</td>
                    <td style="width: 70px;">@data.Department</td>
                    <td style="width: 20px;">@data.SpecializationName</td>
                    <td style="width: 10px; text-align: center;">@data.ShiftId</td>
                    <td style="width: 30px; text-align: center;">@data.ApprovedIntake1</td>
                    <td style="width: 30px; text-align: center;">@data.AdmittedIntake1</td>
                    @if (data.degreeId == 4 || data.degreeId == 5)
                    {
                        approvedIntake1 += data.ApprovedIntake1;
                        admittedIntake1 += data.AdmittedIntake1;
                        if (deptloop == 1)
                        {
                            <td style="width: 30px; text-align: center;" rowspan="@columnspanfirst">@data.FirstYearFee</td>
                            FeeFirstYear += data.FirstYearFee;
                        }
                    }
                    else
                    {
                        if (data.ApprovedIntake1 != 0)
                        {
                            <td style="width: 30px; text-align: center;">@data.FirstYearFee</td>
                            FeeFirstYear += data.FirstYearFee;
                        }
                        else
                        {
                            <td style="width: 30px; text-align: center;">0</td>
                        }
                    }

                    <td style="width: 30px; text-align: center;">@data.ApprovedIntake2</td>
                    <td style="width: 30px; text-align: center;">@data.AdmittedIntake2</td>
                    <td style="width: 30px; text-align: center;">@data.LeteralentryIntake2</td>
                    @if (data.degreeId == 4 || data.degreeId == 5)
                    {
                        approvedIntake2 += data.ApprovedIntake2;
                        admittedIntake2 += data.AdmittedIntake2;
                        if (deptloop == 1)
                        {
                            <td style="width: 30px; text-align: center;" rowspan="@columnspansecond">@data.SecondYearFee</td>
                            FeeSecondYear += data.SecondYearFee;
                        }
                    }
                    else
                    {
                        if (data.ApprovedIntake2 != 0)
                        {
                            <td style="width: 30px; text-align: center;">@data.SecondYearFee</td>
                            FeeSecondYear += data.SecondYearFee;
                        }
                        else
                        {
                            <td style="width: 30px; text-align: center;">0</td>
                        }
                    }

                    <td style="width: 30px; text-align: center;">@data.ApprovedIntake3</td>
                    <td style="width: 30px; text-align: center;">@data.AdmittedIntake3</td>
                    <td style="width: 30px; text-align: center;">@data.LeteralentryIntake3</td>
                    @if (data.degreeId == 4 || data.degreeId == 5)
                    {
                        approvedIntake3 += data.ApprovedIntake3;
                        admittedIntake3 += data.AdmittedIntake3;
                        if (deptloop == 1)
                        {
                            <td style="width: 30px; text-align: center;" rowspan="@columnspanthird">@data.ThirdYearFee</td>
                            FeeThirdYear += data.ThirdYearFee;
                        }
                    }
                    else
                    {
                        if (data.ApprovedIntake3 != 0)
                        {
                            <td style="width: 30px; text-align: center;">@data.ThirdYearFee</td>
                            FeeThirdYear += data.ThirdYearFee;
                        }
                        else
                        {
                            <td style="width: 30px; text-align: center;">0</td>
                        }
                    }

                    <td style="width: 30px; text-align: center;">@data.ApprovedIntake4</td>
                    <td style="width: 30px; text-align: center;">@data.AdmittedIntake4</td>
                    <td style="width: 30px; text-align: center;">@data.LeteralentryIntake4</td>
                    @if (data.degreeId == 4 || data.degreeId == 5)
                    {
                        approvedIntake4 += data.ApprovedIntake4;
                        admittedIntake4 += data.AdmittedIntake4;
                        if (deptloop == 1)
                        {
                            <td style="width: 30px; text-align: center;" rowspan="@columnspanfourth">@data.FourthYearFee</td>
                            FeeFourthYear += data.FourthYearFee;

                        }
                    }
                    else
                    {
                        if (data.ApprovedIntake4 != 0)
                        {
                            <td style="width: 30px; text-align: center;">@data.FourthYearFee</td>
                            FeeFourthYear += data.FourthYearFee;
                        }
                        else
                        {
                            <td style="width: 30px; text-align: center;">0</td>
                        }

                    }


                    @if (currentindex == 0 && (Model[currentindex].degreeId == 4 || Model[currentindex].degreeId == 5))
                    {

                        <td style="width: 30px; text-align: center;" rowspan="@totalugcount">@data.SpecializationwiseSalary</td>
                        totalfee += data.SpecializationwiseSalary;
                    }

                    @if (data.degreeId != 4 && data.degreeId != 5)
                    {
                        <td style="width: 30px; text-align: center;">@data.SpecializationwiseSalary</td>
                        totalfee = totalfee + data.SpecializationwiseSalary;
                    }
                </tr>

                    approvedFeeFirstYear += approvedIntake1;
                    approvedFeeSecondYear += approvedIntake2;
                    approvedFeeThirdYear += approvedIntake3;
                    approvedFeeFourthYear += approvedIntake4;

                    admittedFeeFirstYear += admittedIntake1;
                    admittedFeeSecondYear += admittedIntake2;
                    admittedFeeThirdYear += admittedIntake3;
                    admittedFeeFourthYear += admittedIntake4;

                    deptloop++;
            }
            <tr>
                <td colspan="5" style="text-align: right"><span style="color: red"><b>Total Affiliation Fee :</b></span></td>

                <td style="text-align: right"><span style="color: green"><b>@approvedFeeFirstYear</b></span></td>
                <td style="text-align: right"><span style="color: blue; "><b>@admittedFeeFirstYear</b></span></td>
                <td style="text-align: right"><span style="color: red"><b>@FeeFirstYear</b></span></td>

                <td style="text-align: right"><span style="color: green"><b>@approvedFeeSecondYear</b></span></td>
                <td style="text-align: right"><span style="color: blue"><b>@admittedFeeSecondYear</b></span></td>
                <td style="text-align: right"><span style="color: blue"></span></td>
                <td style="text-align: right"><span style="color: red"><b>@FeeSecondYear </b></span></td>

                <td style="text-align: right"><span style="color: green"><b>@approvedFeeThirdYear</b></span></td>
                <td style="text-align: right"><span style="color: blue"><b>@admittedFeeThirdYear</b></span></td>
                <td style="text-align: right"><span style="color: blue"></span></td>
                <td style="text-align: right"><span style="color: red"><b>@FeeThirdYear </b></span></td>

                <td style="text-align: right"><span style="color: green"><b>@approvedFeeFourthYear</b></span></td>
                <td style="text-align: right"><span style="color: blue"><b>@admittedFeeFourthYear</b></span></td>
                <td style="text-align: right"><span style="color: blue"></span></td>
                <td style="text-align: right"><span style="color: red"><b>@FeeFourthYear </b></span></td>

                <td style="color: blue; text-align: center; font-size: 18px; background-color: greenyellow"><b>@totalfee </b></td>
                @{
            var i = @totalfee;
            TempData["Feedata"] = @totalfee;
                }
            </tr>
        </table>
        <br />
    }
}
<div id="OpenDialog"></div>