@model UAAAS.Models.jntuh_registered_faculty 
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSave').click(function () {
                if ($('#departmentId').val() == '') {
                    $('#departmentId').addClass("required");
                } else {
                    $('#departmentId').removeClass("required");
                }
            });
        });
    </script>
    <div class="details_table">

        <div class="editor-label" style="width: 150px">
            Department
        </div>
        <div class="editor-field" style="width: 250px">
            @Html.DropDownList("departmentId",
            new SelectList(ViewBag.department as System.Collections.IEnumerable, "id", "departmentName"),
            "-- Select --", new { id = "departmentId", @class = "width" })
            @Html.Hidden("collegeId", new {@Value = @ViewBag.collegeId  })
            @Html.HiddenFor(Model=>Model.id)
        </div>

        <div style="text-align: center">
            <p>
                <input type="submit" value="Save" id="btnSave" name="cmd" class="btnclass" />
            </p>
        </div>
    </div>
}