@model UAAAS.Models.WomenProtectionCell
<div class="details_table">
     <div class="display-label" style="width: 40%;">Actual Designation</div>
    <div class="display-field" style="width: 50%;">
        @Html.DisplayFor(model => model.actualDesignation)
    </div>
    <div class="display-label" style="width: 40%;">Designation</div>
    <div class="display-field" style="width: 50%;">
        @Html.DisplayFor(model => model.designationName)
    </div>
    <div class="display-label" style="width: 40%;">Name</div>
    <div class="display-field" style="width: 50%;">
        @Html.DisplayFor(model => model.memberName)
    </div>
    <div class="display-label" style="width: 40%;">Registration Number</div>
    <div class="display-field" style="width: 50%;">
        @Html.DisplayFor(model => model.registrationNumber)
    </div>
    <div class="display-label" style="width: 40%;">Email</div>
    <div class="display-field" style="width: 50%;">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label" style="width: 40%;">Mobile</div>
    <div class="display-field" style="width: 50%;">
        @Html.DisplayFor(model => model.Mobile)
    </div>
</div>
