
@model UAAAS.Models.FacultyComplaintsClass


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.plugin.from_html.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnupdate").click(function () {
            debugger
            var supdoc = $("#Collegesupportingdocument").val();
            var remark = $("#CollegeRemarks").val();

            if( $("#Collegesupportingdocument").val() != " ")
            {
                return true;
            }
            else
            {
                return false;
            }

            if ($("#CollegeRemarks").val() != " ") {
                return true;
            }
            else {
                return false;
            }
        });
       
    });
   
</script>

@using (Html.BeginForm("CollegeGrievancesupportdoc", "FacultyComplaints", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    
    <table width="100%">

        <tr>@Html.HiddenFor(m => m.id)
            <td class="col1" style="width:40%">
                @Html.LabelFor(m=>m.Collegesupportingdocument)
            </td>
            <td class="col2" style="width:60%" >
                @Html.TextBoxFor(m => m.Collegesupportingdocument, new { type = "file", @class = "required" })
            </td>
        </tr>
        <tr>
            <td class="col1" style="width:40%">
                @Html.LabelFor(m => m.CollegeRemarks)
            </td>
            <td class="col2" style="width:60%">
                @Html.TextAreaFor(m => m.CollegeRemarks, new { @maxlength = "500", @class = "required" })
            </td>
        </tr>
    </table>
  

        <div style="line-height:1.2rem;" class="right_buttons submitButton">
            <input type="submit" id="btnupdate" value="update" class="submit" name="Command" />
        </div>

  

}


