@model UAAAS.Models.StudentsComplaints
@{
    ViewBag.Title = "Students Grievance";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<head>
    <title>Students Grievance</title>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jspdf.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jspdf.plugin.from_html.js")" type="text/javascript"></script>

    <link href="~/Content/Teststyle.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function () {
            //$("PreviewScreen *").attr("disabled", "disabled").off('click');

            //get file size
            function GetFileSize(fileid, title) {

                try {
                    var fileSize = 0;
                    //for IE
                    if ($.browser.msie) {
                        //before making an object of ActiveXObject,
                        //please make sure ActiveX is enabled in your IE browser
                        var objFSO = new ActiveXObject("Scripting.FileSystemObject");
                        var filePath = $("#" + fileid)[0].value;
                        var objFile = objFSO.getFile(filePath);
                        var fileSize = objFile.size; //size in kb
                        //fileSize = fileSize / 1048576; //size in mb
                    }
                        //for FF, Safari, Opeara and Others
                    else {
                        fileSize = $("#" + title)[0].files[0].size; //size in kb
                        //fileSize = fileSize / 1048576; //size in mb
                    }

                    return fileSize;
                } catch (e) {
                }
            }

            //get file path from client system
            function getNameFromPath(strFilepath) {
                var objRE = new RegExp(/([^\/\\]+)$/);
                var strName = objRE.exec(strFilepath);

                if (strName == null) {
                    return null;
                }
                else {
                    return strName[0];
                }
            }

            $("#complaintid").change(function () {
                if ($("#complaintid option:selected").text() == "Others") {
                    $("#othersdiv").css({ "display": "block" });
                    $("#otherscomplaint").addClass("required");
                }
                else {
                    $("#othersdiv").css({ "display": "none" });
                    $("#otherscomplaint").removeClass("required");
                }
                $("#CompType").text($("#complaintid option:selected").text());
            });

            $("#District").change(function () {
                $("#disctrict").text($("#District option:selected").text());
            });

            $("#complaintFile").change(function () {
                
                var file = getNameFromPath($(this).val());
                var flag;
                if (file != null) {
                    var extension = file.substr((file.lastIndexOf('.') + 1));
                    switch (extension) {
                        case 'pdf':
                        case 'PDF':
                            flag = true;
                            break;
                        default:
                            flag = false;
                    }
                }

                if (flag == false) {
                    alert("You can upload only  PDF files");
                    $(this).val('');
                    return false;
                } else {
                    var size = GetFileSize(file, "complaintFile");
                    size = size / 1048576;
                    if (size > 1) {
                        alert("Document should not exceed 1 MB in Size");
                        $(this).val('');
                    } else {
                        $("#complaintFile > span").text("");
                    }
                }
            });

            $("#btnpreview").click(function (e) {
                debugger;
                var fd = new FormData();
                var files = $('input[type="file"]')[0].files[0];
                fd.append('studentfirstname', $("#studentfirstname").val());
                fd.append('studentlastname' ,  $("#studentlastname").val());
                fd.append('studentgender' , $("#studentgender").val());
                fd.append('studentDOB' , $("#studentDOB").val());
                fd.append('Email' , $("#Email").val());
                fd.append('Moblie' , $("#Moblie").val());
                fd.append('city' , $("#city").val());
                fd.append('Address', $("#Address").val());
                fd.append('District', $("#District").val());
                fd.append('Guardianname' , $("#Guardianname").val());
                fd.append('Guardianmobile' , $("#Guardianmobile").val());
                fd.append('HallticketNo' , $("#HallticketNo").val());
                fd.append('courseId', $("#courseId").val());
                fd.append('yearstudy', $("#yearstudy").val());
                fd.append('collegeId' , $("#collegeId").val());
                fd.append('complaintid', $("#complaintid").val());
                var complaitntype = $("#complaintid option:selected").text();
                if (complaitntype == 'Others') {
                    fd.append('otherscomplaint', $("#otherscomplaint").val());
                }
                fd.append('complaintdate', $("#complaintdate").val());
                fd.append('ComplaintDesc',$("#ComplaintDesc").val());
                fd.append('complaintFile', files);
                fd.append('text', 'AjaxCall');

                var fullame = $("#studentfirstname").val() + " " + $("#studentlastname").val()
                $("#sname").text(fullame);
                $("#sgender").text($("#studentgender").val());
                $("#sdob").text($("#studentDOB").val());
                $("#semail").text($("#Email").val());
                $("#smobile").text($("#Moblie").val());
                $("#scity").text($("#city").val());
                $("#saddress").text($("#Address").val());
                $("#sguardianname").text($("#Guardianname").val());
                $("#sguardianmobile").text($("#Guardianmobile").val());
                $("#shallticketno").text($("#HallticketNo").val());
                $("#scourse").text($("#courseId option:selected").text());
                $("#syearstudy").text($("#yearstudy option:selected").text());
                $("#sctype").text($("#complaintid option:selected").text());

                $("#soctype").text($("#complaintid option:selected").text());

                if ($("#complaintid option:selected").text() == 'Others') {
                    $("#hideotherctype").css("display", "block");
                    $("#soctype").text($("#otherscomplaint").val());
                }
                else {
                    $("#hideotherctype").css("display", "none");
                }

                $("#scdate").text($("#complaintdate").val());
                $("#scollege").text($("#collegeId option:selected").text());
                $("#scdesc").text($("#ComplaintDesc").val());

                $(".PreviewDiv").dialog({
                    title: 'Please Preview',
                    autoOpen: false,
                    resizable: false,
                    height: 600,
                    width: 700,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    buttons: {
                        //"Yes": function () {
                        //    $.ajax({
                        //        type: "POST",
                        //        url: "/FacultyComplaints/StudentComplaintScreen?ajaxcall=AjaxCall",
                        //        data: fd,
                        //        processData: false,
                        //        contentType: false,
                        //        dataType :"json",
                        //        success: function (result) {
                        //            debugger;
                        //            if (result.result != null)
                        //            {
                        //                $(this).dialog("close");
                        //                //alert(result.result);
                        //                window.location.href = "/FacultyComplaints/StudentComplaintScreen"
                        //            }
                        //            else if(result.error != null)
                        //            {
                        //                $(this).dialog("close");
                        //                alert(result.error);
                        //                window.location.href = "/FacultyComplaints/StudentComplaintScreen"
                        //            }
                                   
                        //        },
                        //        error: function (error) {
                        //            alert(error);
                        //            $(this).dialog("close");
                        //        }
                        //    });
                        //},
                        //"No": function () {
                        //    $(this).dialog("close");
                        //}
                    }
                }).css("font-size", "15px");

                $(".PreviewDiv").dialog('open');
                return false;
            });

            $("#ComplaintDesc").keyup(function () {
                $("#CompDesc").text($(this).val());
            });

            $("#collegeId").change(function () {
                debugger;
                var selectedValue = $(this).val();
                if (selectedValue != null && selectedValue != ' ') {
                    $.ajax({
                        type: 'GET',
                        url: '/FacultyComplaints/GetDepartments?collegeid=' + selectedValue,
                        ContentType: 'application/json',
                        success: function (result) {
                            debugger;
                            $("#courseId").find('option').remove();
                            var item = "<option value=''>---Select---</option>";
                            $.each(result.result, function (i, state) {
                                item += "<option value='" + state.DegreeId + "'>" + state.DegreeName + "</option>";
                            });
                            $("#courseId").html(item);
                        },
                        error: function (error) {
                            alert(error.error);
                        }
                    });
                }
                else {
                    alert("Please select the Education Drop down...")
                }
            });


            $(document).ready(function () {
                $("#SampleDiv").dialog({
                    modal: true
                });
            });

            //$("#btnSave").click(function () {
            //    debugger;
            //    var coursevale = $("#courseId").val();
            //    if(coursevale == "---Select---" || coursevale =="" || coursevale == null)
            //    {
            //        //alert("Select the course")
            //        $("#courseId").addClass("required");
            //        return false;
            //    }
            //    else {
            //        $("#courseId").removeClass("required");
            //        return true;
            //    }
            //});


            //$(".coursestudiedId").change(function () {
            //    var selectedValue = $(".coursestudiedId option:selected").text();
            //    if (selectedValue == "UG") {
            //        $("#courseIdempty").css("display", "none");
            //        $(".ugdegree").css("display", "block");
            //        $(".pgdegree").css("display", "none");
            //        $(".dualdegree").css("display", "none");
            //    }
            //    else if (selectedValue == "PG") {
            //        $("#courseIdempty").css("display", "none");
            //        $(".pgdegree").css("display", "block");
            //        $(".ugdegree").css("display", "none");
            //        $(".dualdegree").css("display", "none");
            //    }
            //    else if (selectedValue == "Dual Degree") {
            //        $("#courseIdempty").css("display", "none");
            //        $(".dualdegree").css("display", "block");
            //        $(".pgdegree").css("display", "none");
            //        $(".ugdegree").css("display", "none");
            //    }
            //});

            //$(".courseId").change(function () {
            //    var CourseselectedValue = $(".coursestudiedId option:selected").text();
            //    if (CourseselectedValue == "UG") {
            //        $("#departmentIdempty").css("display", "none");
            //        $(".Ugdepts").css("display", "block");
            //        $(".Pgdepts").css("display", "none");
            //        $(".Dualdepts").css("display", "none");
            //    }
            //    else if (CourseselectedValue == "PG") {
            //        $("#departmentIdempty").css("display", "none");
            //        $(".Pgdepts").css("display", "block");
            //        $(".Ugdepts").css("display", "none");
            //        $(".Dualdepts").css("display", "none");
            //    }
            //    else if (CourseselectedValue == "Dual Degree") {
            //        $("#departmentIdempty").css("display", "none");
            //        $(".Dualdepts").css("display", "block");
            //        $(".Pgdepts").css("display", "none");
            //        $(".Ugdepts").css("display", "none");
            //    }
            //});

            //$(".coursestudiedId").change(function () {
            //    var selectedValue = $(this).val();
            //    if (selectedValue != null && selectedValue != ' ') {
            //        $.ajax({
            //            type: 'GET',
            //            url: '/FacultyComplaints/GetDegrees?degreetypeId=' + selectedValue,
            //            ContentType: 'application/json',
            //            success:function(result)
            //            {
            //                debugger;
            //                $("#courseIdempty").css("display", "none");
            //                var coursedropdown = "<select id='courseId' required='required'>";
            //                coursedropdown += "<option>---Select---</option>";
                            
            //                if(result != null)
            //                {
            //                    $.each(result.result, function (index, val) {
            //                        coursedropdown += "<option id=" + val.degreeId + ">" + val.degree + "</option>";
            //                    });   
            //                }
            //                coursedropdown += "</select>";
            //                $("#appendcourse").html(coursedropdown);
            //            },
            //            error: function(error) {
            //                alert(error.error);
            //            }
            //        });
            //    }
            //    else {
            //        alert("Please select the Education Drop down...")
            //    }
            //});

            //$("#courseId").change(function () {
            //    debugger;
            //    var selectedValue = $(this).val();
            //    if (selectedValue != null && selectedValue != ' ') {
            //        $.ajax({
            //            type: 'GET',
            //            url: '/FacultyComplaints/GetDepartments?degree=' + selectedValue,
            //            ContentType: 'application/json',
            //            success: function (result) {
            //                debugger;
            //                var coursedropdown = "<option>---Select---</option>";

            //                if (result != null) {
            //                    $.each(result.result, function (index, val) {
            //                        coursedropdown += "<option id=" + val.deptId + ">" + val.dept + "</option>";
            //                    });
            //                }
            //                $("#departmentId").html(coursedropdown);
            //            },
            //            error: function (error) {
            //                alert(error.error);
            //            }
            //        });
            //    }
            //    else {
            //        alert("Please select the Education Drop down...")
            //    }
            //});

            
        });
    </script>

    <style type="text/css">
        #ui-datepicker-div
        {
            width:300px;
            font-size:10px;
        }
        .ui-dialog-buttonset{
            width:130px;
            font-size:15px;
        }
        .ui-dialog-titlebar{
            font-size:15px;
        }
    </style>

</head>

@if (TempData["SUCCESS"] != null)
{
    <div class="success" style="background-color: gold; border: 1px solid #f49820;">
        <p style="text-align: center;font-weight: bold"><strong>Success:</strong> @TempData["SUCCESS"].ToString()</p>
    </div><br />
}
@if (TempData["ERROR"] != null)
{
    <div class="error" style="background-color: red; border: 1px solid #f49820;">
        <p style="text-align: center;font-weight: bold;color:white;"><strong>Error:</strong> @TempData["ERROR"].ToString()</p>
    </div><br />
}
@using (Html.BeginForm("StudentComplaintScreen", "FacultyComplaints", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table width="100%">
        <tr>
            <td>
                <div class="wrapper" style="height:600px;">
                    <div id="ctl00_div_registration" class="second_band_internal" style="display:inline">
                        <div class="lft"><img src="https://www.antiragging.in/site/images/abut_lft_internal.jpg" width="9" height="44"></div>
                        <div class="rght"><img src="https://www.antiragging.in/site/images/abut_rgt_internal.jpg" width="9" height="44"></div>
                        <div class="heading_internal">Student Grievance Declaration Form</div>
                    </div>
                    <div class="third_outer_wrap">
                        <div class="third_outer_internal">
                            <div style="padding-left: 0px">
                                <div id="mydiv" style="opacity: 0.1;">
                                </div>
                                <table cellpadding="0" cellspacing="0" width="100%" align="center" class="form" style="border: 1px solid #A4C7E7;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" align="center" class="heading">
                                                <div style="font-size: 16px; font-weight: bold; font-family: arial; text-align: center;padding-top: 15px;">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Student FirstName&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.studentfirstname, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Student LastName&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.studentlastname, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Gender&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.RadioButtonFor(model => model.studentgender, "Male") Male
                                                @Html.RadioButtonFor(model => model.studentgender, "Female") Female
                                                @Html.ValidationMessageFor(model => model.studentgender)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Date of birth&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.studentDOB, new { @class = "calendar", @placeholder = "DD/MM/YYYY", @style = "width:415px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Email&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Email, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Mobile&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Moblie, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Address&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextAreaFor(model => model.Address, new { @maxlength = "500" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>City&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.city, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>District&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.District, new SelectList(ViewBag.Disctricts as System.Collections.IEnumerable, "disctrictID", "disctrictName"), "---Select---", new { @class = "" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Parent/ Guardian's Name&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Guardianname, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Parent/ Guardian's Mobile&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Guardianmobile, new { })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>College&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.collegeId, new SelectList(ViewBag.Colleges as System.Collections.IEnumerable, "collegeId", "collegeName"), "---Select---", new { @class = "", @style = "width:448px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Hall Ticket Number&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.HallticketNo, new { })
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td style="width: 490px;">
                                                <b><span>Education&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.coursestudiedId, new SelectList(ViewBag.jntuh_degree_type as System.Collections.IEnumerable, "degreeTypeId", "degreeType"), "---Select---", new { @class = "coursestudiedId", @style = "width:448px;" })
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Course&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @*<p id="appendcourse"></p>
                                                <select id="courseId">
                                                    <option>---Select---</option>
                                                </select>*@
                                                @*@Html.DropDownList("courseId",null)*@
                                                @Html.DropDownList("courseId", new List<SelectListItem> { }, "---Select---", new { style = "width: 200px" })
                                                @*@Html.DropDownList("courseId", Enumerable.Empty<SelectListItem>(), "---Select---", new { @style = "width:448px;" })*@
                                                @*@Html.DropDownListFor(model => model.courseId, new SelectList(ViewBag.UGdegrees as System.Collections.IEnumerable, "DegreeId", "DegreeName"), "---Select---", new { @class = "ugdegree", @style = "width:448px;display:none;" })
                                                @Html.DropDownListFor(model => model.courseId, new SelectList(ViewBag.PGdegrees as System.Collections.IEnumerable, "DegreeId", "DegreeName"), "---Select---", new { @class = "pgdegree", @style = "width:448px;display:none;" })
                                                @Html.DropDownListFor(model => model.courseId, new SelectList(ViewBag.Dualdegrees as System.Collections.IEnumerable, "DegreeId", "DegreeName"), "---Select---", new { @class = "dualdegree", @style = "width:448px;display:none;" })*@

                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td style="width: 490px;">
                                                <b><span>Department&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>*@
                                                @*@Html.DropDownList("departmentIdempty", Enumerable.Empty<SelectListItem>(), "--Select--", new { @style = "width:448px;" })*@
                                                
                                                @*@Html.DropDownListFor(model => model.departmentId, new SelectList(ViewBag.DepartmentsDropdown as System.Collections.IEnumerable, "Id", "Type"), "---Select---",  new { @class = "", @style = "width:448px;" })*@

                                                @*@Html.DropDownListFor(model => model.departmentId, new SelectList(ViewBag.UGdepartments as System.Collections.IEnumerable, "DepartmentId", "DepartmentName"), "---Select---", new { @class = "departmentId Ugdepts", @style = "width:448px;display:none;" })
                                                @Html.DropDownListFor(model => model.departmentId, new SelectList(ViewBag.PGdepartments as System.Collections.IEnumerable, "DepartmentId", "DepartmentName"), "---Select---", new { @class = "departmentId Pgdepts", @style = "width:448px;display:none;" })
                                                @Html.DropDownListFor(model => model.departmentId, new SelectList(ViewBag.Dualdepartments as System.Collections.IEnumerable, "DepartmentId", "DepartmentName"), "---Select---", new { @class = "departmentId Dualdepts", @style = "width:448px;display:none;" })*@
                                            @*</td>
                                        </tr>*@
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Year of Study&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.yearstudy, new SelectList(ViewBag.YearofStudy as System.Collections.IEnumerable, "Value", "Text"), "---Select---", new { @class = "", @style = "width:448px;" })
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Grievance Type&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.complaintid, new SelectList(ViewBag.Complaints as System.Collections.IEnumerable, "id", "complaintType"), "---Select---", new { @class = "", @style = "width:448px;" })
                                                <div id="othersdiv" style="display:none;"><br /> @Html.TextBoxFor(model => model.otherscomplaint, new { })</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Grievance Date&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.complaintdate, new { @class = "", @disabled = "disabled" })
                                                @Html.HiddenFor(model => model.complaintdate)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Grievance Supporting Document&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.complaintFile, new { type = "file", @class = "File required", @style = "vertical-align: top;" }) &nbsp;&nbsp;<span style="color: red;"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 490px;">
                                                <b><span>Grievance Description&nbsp;<span style="color:red;">*</span></span></b>
                                            </td>
                                            <td>
                                                @Html.TextAreaFor(model => model.ComplaintDesc, new { @maxlength = "500" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: right">
                                                <button id="btnpreview">Preview</button>
                                                <input type="submit" value="Save" id="btnSave" name="cmd" class="btnclass" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            @*<td width="40%">
                    <div id="PreviewScreen" style="border:1px solid black;height:580px;width:570px;font-weight:bold;">
                        <div style="padding:17px 10px 10px 20px;">
                            <div style="text-align:center;">
                                <p style="font-size:15px;"><b><u>Preview</u></b></p>
                            </div>
                            <br />
                            <div>
                                <p>
                                    To <br />
                                    The Register<br />
                                    Jawaharlal Nehru Technological University Hyderabad<br />
                                    Directorate of Affiliations & Academic Audit <br />
                                    Kukatpally, Hyderabad – 500 085, Telangana, India
                                </p>
                            </div>
                            <br />
                            <p>Sir,</p>
                            <div style="padding-left:50px;padding-top:7px;">
                                <p>Sub : JNTUH - UAAAC - <span id="CompType"></span> -Reg.</p>
                            </div>
                            <br /><br />
                            <div style="width:510px;text-align:justify;">
                                <p style="width:520px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span id="CompDesc"></span>
                                </p>
                            </div>
                            <br /><br />
                            <div>
                                <p id="Faddress">
                                    @*<span id="Faddress"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </td>*@
        </tr>
    </table>
}

<div class="PreviewDiv" style="display:none;">
    <table cellpadding="0" cellspacing="0" width="100%" align="center" style="line-height: 27px;">
        <tbody>
            <tr>
                <td style="width: 290px;">
                    <b><span>Name</span></b>
                </td>
                <td>:</td>
                <td>
                   <span id="sname"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Gender</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="sgender"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Date of birth</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="sdob"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Email</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="semail"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Mobile</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="smobile"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>City</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="scity"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Address</span></b>
                </td>
                <td>:</td>
                <td style="border: 1px solid black;padding: 3px;height: auto;text-align: justify;">
                    <span id="saddress"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Parent/Guardian's Name</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="sguardianname"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Parent/Guardian's Mobile</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="sguardianmobile"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Hall Ticket No</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="shallticketno"></span>
                </td>
            </tr>
            @*<tr>
                <td style="width: 290px;">
                    <b><span>Studied Education</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="scoursestudied"></span>
                </td>
            </tr>*@
            <tr>
                <td style="width: 290px;">
                    <b><span>Course</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="scourse"></span>
                </td>
            </tr>
            @*<tr>
                <td style="width: 290px;">
                    <b><span>Department</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="sdepartment"></span>
                </td>
            </tr>*@
            <tr>
                <td style="width: 290px;">
                    <b><span>College</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="scollege"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Grievance Type</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="sctype"></span>
                </td>
            </tr>
            <tr>
                <td id="hideotherctype" style="width: 290px;display:none;">
                    <b><span>Others Grievance Type</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="soctype"></span>
                </td>
            </tr>
            <tr>
                <td  style="width: 290px;">
                    <b><span>Grievance Date</span></b>
                </td>
                <td>:</td>
                <td>
                    <span id="scdate"></span>
                </td>
            </tr>
            <tr>
                <td style="width: 290px;">
                    <b><span>Grievance Description</span></b>
                </td>
                <td>:</td>
                <td style="border: 1px solid black;padding: 3px;height: auto;text-align: justify;">
                    <span id="scdesc"></span>
                </td>
            </tr>
        </tbody>

    </table>
    <div id="SampleDiv" title="Note" style="width:100%">
       
        <ul>
            <li style="font-size:14px; font-family:Arial;">1. The Student has to submit genuine and correct details. If it is not genuine or correct, the grievance will not be attended to.</li>
            <li style="font-size:14px; font-family:Arial;">2. The grievance will be attended to, only when the details of grievance and applicant are genuine.</li>
        </ul>
    </div>
</div>





