@model List<UAAAS.Controllers.genereatedColumns>
@{
    ViewBag.Title = "LetterInformation";
    int index = 1;
}

<h2>LetterInformation</h2>
<script type="text/javascript">
    var asInitVals = new Array();

    $(document).ready(function () {
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 5000,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0; i < oSettings.aoPreSearchCols.length; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null,null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        //$(".EditDialog").live("click", function (e) {

        //    var url = $(this).attr('href');

        //    $("#dialog-edit").dialog({
        //        title: 'Edit Letter Information',
        //        autoOpen: false,
        //        resizable: false,
        //        height: 420,
        //        width: 900,
        //        show: { effect: 'drop', direction: "up" },
        //        modal: true,
        //        draggable: true,
        //        closeOnEscape: true,
        //        open: function (event, ui) {
        //            $(this).load(url);
        //        },
        //        close: function (event, ui) {
        //            window.location.href = "/LetterGeneration/Letters";
        //        }

        //    });

        //    $("#dialog-edit").dialog('open');
        //    return false;
        //});
    });

</script>

@if (TempData["SUCCESS"] != null)
{
    <div class="success" style="background-color: gold; border: 1px solid #f49820;">
        <p style="text-align: center;font-weight: bold"><strong>Success:</strong> @TempData["SUCCESS"].ToString()</p>
    </div><br />
}
@if (TempData["ERROR"] != null)
{
    <div class="error" style="background-color: red; border: 1px solid #f49820;">
        <p style="text-align: center;font-weight: bold;color:white;"><strong>Error:</strong> @TempData["ERROR"].ToString()</p>
    </div><br />
}

<table id="example" class="display" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 80px; text-align: center;">
                S.No
            </th>
            <th style="width: 80px; text-align: center;">
                Letter Code
            </th>
            <th style="text-align: left;">
                Letter Code Description
            </th>
            <th class="ui-state-default" style="width: 100px; text-align: center;">Letter Subject</th>
            <th class="ui-state-default" style="width: 100px; text-align: center;">Letter Reference</th>
            @*<th class="ui-state-default" style="width: 100px; text-align: center;">Letter Description</th>*@
            <th class="ui-state-default" style="width: 100px; text-align: center;">Status</th>
            <th class="ui-state-default" style="width: 100px; text-align: center;">Edit</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">
                    @(index++)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.lettercode)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.lettercodedesc)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.lettersub)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.letterref)
                </td>
                @*<td style="text-align: center; font-weight: normal;">
                    @Html.DisplayFor(modelItem => item.letterdesc)
                </td>*@
                <td style="text-align: center; font-weight: normal;">
                    @if (item.isactive == true)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>InActive</span>
                    }
                </td>
                <td style="text-align:center;">
                    <a href="/LetterGeneration/LetterInformation?id=@item.id" class="EditDialog edit_button" style="text-align:center" target="_blank"><span>Edit</span></a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>
                <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-3" style="width: 90%; text-align: left;" class="search_init">
            </th>
            @*<th>
                <input type="text" id="i-3" style="width: 90%; text-align: left;" class="search_init">
            </th>*@
            <th>
                <input type="text" id="i-4" style="width: 90%; text-align: left;" class="search_init">
            </th>
            <th class=" ui-state-default" style="width: 70px;">
                <input type="text" id="i-5" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>  
            <th class=" ui-state-default" style="width: 70px;">
                <input type="text" id="i-5" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>         
        </tr>
    </tfoot>
</table>
<div id="dialog-edit" style="display: none">
</div>