@model UAAAS.Models.CollegePGCourse
@{
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    }   
    ViewBag.Title = @Html.DisplayFor(model => Model.jntuh_specialization.specializationName);
    int sno = 1;
}
<script type="text/javascript">
    function printdiv(printpage) {
        //Get the HTML of div
        var divElements = document.getElementById(printpage).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" +
          divElements.fontsize(1) + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
        return false;
    }
</script>
<p class="create_link_right">
    <input name="btnPrint" type="button" onclick="printdiv('div_print');" class="create_button" value=" Print ">
    @if (@ViewBag.Editcollege == true)
    {
         @Html.ActionLink("Back", "Index", "CollegePGCourse",new{collegeId = @ViewBag.collegeId}, new { @class = "create_button" })
    }
    else
    {
        @*"Index/" + @ViewContext.RouteData.Values["id"] don't change This is for Admin and College purpose*@
        @Html.ActionLink("Back", "View/" + @ViewContext.RouteData.Values["id"], "CollegePGCourse", new { @class = "create_button" })
    }
   

</p>
<div id="div_print">

    @using (Html.BeginForm())
    {    
        <div style="padding: 10px;">
            <b style="font-size: 18px; text-transform: uppercase;">@Html.DisplayFor(model => Model.jntuh_specialization.specializationName)</b>
            @Html.HiddenFor(model => model.collegeId, new { @Value = Model.collegeId })
            <table class="downloads_table" style="width: 100%; margin: auto; margin-top: 10px;">
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Name of the College
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.jntuh_college.collegeName)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="width: 35%; border: solid 1px #000;">College Code
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.jntuh_college.collegeCode)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Degree
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.degree)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Department
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.jntuh_department.departmentName)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Name of the PG Programme
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.jntuh_specialization.specializationName)
                    </td>
                </tr>

                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Program Type [ New / Existing ]
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">

                        @Html.DisplayFor(model => Model.type) Program
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Shift
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.shiftId)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">Intake
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => Model.intake)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">No of Professors
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => model.professors)

                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">No of Associate Professors
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => model.associateProfessors)

                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">No of Assistant Professors
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => model.assistantProfessors)
                        @Html.ValidationMessageFor(model => model.assistantProfessors)
                    </td>
                </tr>
                <tr>
                    <th class="editor-label1" style="border: solid 1px #000;">UG Faculty/Student Ratio of the Department
                    </th>
                    <td class="editor-field1" style="border: solid 1px #000; color: black;">
                        @Html.DisplayFor(model => model.UGFacultyStudentRatio)
                    </td>
                </tr>
            </table>

            @Html.HiddenFor(model => model.createdBy)
            @Html.HiddenFor(model => model.createdOn)
            <br />

            <table class="downloads_table" style="width: 100%; margin: auto;" id="tblpgfaculty">
                <tr>
                    <th colspan="6" class="editor-label1" style="text-align: left; border: solid 1px #000;">Details of PG faculty</th>
                </tr>
                <tr>
                    <th class="editor-label1" width="50px" style="width: 50px; text-align: center; border: solid 1px #000;">S.No</th>
                    <th class="editor-label1" style="width: 320px; border: solid 1px #000;">Name of the Faculty</th>
                    <th class="editor-label1" width="150px" style="width: 150px; border: solid 1px #000;">Designation</th>
                    <th class="editor-label1" width="250px" style="width: 250px; border: solid 1px #000; text-align: center">Qualification</th>
                    <th class="editor-label1" width="250px" style="width: 250px; border: solid 1px #000; text-align: left">Specialization</th>
                </tr>
                @foreach (var item in Model.PGFaculty)
                {
                    <tr>
                        <td style="text-align: center;border: solid 1px #000; color: black;">@(sno++)</td>
                        <td style="border: solid 1px #000; color: black;">@item.facultyName</td>
                        <td style="border: solid 1px #000; color: black;">@item.designation</td>
                        <td style="border: solid 1px #000; color: black;">
                            <table class="no-border">
                                <tr>
                                    <td style="width: 35px;"><b>UG</b></td>
                                    <td style="width: 10px;">-</td>
                                    <td>@item.UG</td>
                                </tr>
                                <tr>
                                    <td><b>PG</b></td>
                                    <td>-</td>
                                    <td>@item.PG</td>
                                </tr>
                                <tr>
                                    <td><b>Ph.D</b></td>
                                    <td>-</td>
                                    <td>@item.Phd</td>
                                </tr>
                            </table>
                        </td>
                        <td style="border: solid 1px #000; color: black;">
                            <table class="no-border">
                                <tr>
                                    <td style="width: 10px;">-</td>
                                    <td>@item.UGSpecialization</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>@item.PGSpecialization</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>@item.PhdSpecialization</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>


