@model IList<UAAAS.Models.jntuh_college_laboratories>
@{
    ViewBag.Title = "Laboratories";
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_DataEntryLayoutLeftMenu.cshtml";
    } 
}
<h2>Laboratories</h2>
<script type="text/javascript">
    $(document).ready(function () {

        var mainUrl = window.location;
        var url;

        $.ajaxSetup({ cache: false });

        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/Edit Laboratories',
            autoOpen: false,
            resizable: false,
            height: 650,
            width: 650,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Add Laboratories'
            });
            url = $("#openDialog").attr('href');

            $myDialog.dialog('open');
            return false;
        });

        //$('.full_table').find('tr').click(function () {
        $('.webGrid').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Edit Laboratories'
            });
            $myDialog.dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {

            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                title: 'Delete Laboratories',
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "No": function () {
                        $(this).dialog("close");

                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Laboratories',
                autoOpen: false,
                resizable: false,
                height: 650,
                width: 620,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });
</script>
@if (ViewBag.NotUpload == true)
{
    <b>Laboratories</b><br />
    <span class="notUpload">You can not upload data Please contact Affiliations & Academic Audit if you want to upload</span>
}
else
{
    if (TempData["Error"] != null)
    {
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
    }
    if (TempData["Success"] != null)
    {
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
    }
    <table style="width: 100%">
        <tr>
            <td></td>
            <td class="create_link_right">
              @Html.ActionLink("Add Laboratories", "AddEditRecord", "LabsNew", new { collegeId = @ViewBag.collegeId }, new { @id = "openDialog", @class = "create_button" })
            </td>
        </tr>
    </table>

    <div id="LaboratoriesgridContent">
        <table class="webGrid" style="width: 100%;">
            <tr style="font-weight: bold;" class="gridHeader">
                <td style="text-align: center; width: 5%;">S.No</td>
                <td style="text-align: left; width: 10%;">Degree</td>
                <td style="text-align: left; width: 10%;">Department</td>
                <td style="text-align: left;">Specialization</td>
                <td style="text-align: left;">Semester</td>
                <td style="text-align: center; width: 5%;">year</td>
                <td style="text-align: left;">Lab Code</td>
                <td style="text-align: left;">Lab Name</td>
                <td style="text-align: left; width: 10%;">Equipment Name</td>
                <td style="text-align: left; width: 20%;">Available Area</td>
                <td style="text-align: left; width: 20%;">Make</td>
                <td style="text-align: left; width: 20%;">Model</td>
                <td style="text-align: left; width: 20%;">EquipmentUniqueID</td>
                <td style="text-align: left; width: 20%;">AvailableUnits</td>
                <td style="text-align: left; width: 20%;"></td>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td style="text-align: center; width: 5%; background-color: #FCF1D1" class="col1">
                        @Html.HiddenFor(m => m[i].id)
                        @Html.HiddenFor(m => m[i].jntuh_lab_master.DegreeID)
                        @Html.HiddenFor(m => m[i].jntuh_lab_master.DepartmentID)
                        @Html.HiddenFor(m => m[i].jntuh_lab_master.SpecializationID)
                        @Html.HiddenFor(m => m[i].jntuh_lab_master.Year)
                        @Html.HiddenFor(m => m[i].jntuh_lab_master.LabName)
                        @Html.HiddenFor(m => m[i].EquipmentName)
                        @Html.HiddenFor(m => m[i].EquipmentNo)
                        @(i + 1)
                    </td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.jntuh_degree.degree)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.jntuh_department.departmentName)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.jntuh_specialization.specializationName)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.Semester)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.Year)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.Labcode)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].jntuh_lab_master.LabName)</td>                    
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].EquipmentName)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].AvailableArea)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].Make)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].Model)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].EquipmentUniqueID)</td>
                    <td style="background-color: #FCF1D1">@Html.DisplayFor(m => m[i].AvailableUnits)</td>

                    <td style="background-color: #FCF1D1">
                        @Html.ActionLink("Edit", "AddEditRecord", new { id = Model[i].id }, new { @class = "editDialog edit_button" })
                       @* @Html.ActionLink("Details", "Details", new { id = Model[i].id }, new { @class = "viewDialog view_button" })*@
                        @Html.ActionLink("Delete", "DeleteRecord", new { id = Model[i].id }, new { @class = "confirmDialog delete_button" })
                    </td>
                </tr>
            }
        </table>

    </div>

            if (ViewBag.Count == 0)
            {
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
            }

    <div id="dialog-confirm" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to delete ?
        </p>
    </div>
    <div id="dialog-edit" style="display: none">
    </div>
    <div id="dialog-view" style="display: none">
    </div>
}