@model List<UAAAS.Controllers.CollegeAddress>
@{
    ViewBag.Title = "Colleges Granted Affiliation A.Y wise";
    int count = 1;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        var mainUrl = window.location;
        var url;
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null, null,null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });
        $.ajaxSetup({ cache: false });
    });

</script>
@using (Html.BeginForm("", "", FormMethod.Post, new { }))
{
    <div>
        <h2>List of Colleges and their Courses Granted Affiliation Academic Year wise</h2>
        <br />
        @if (ViewBag.AcademicYearsList != null)
        {
            <table style="width:100%;border-collapse:collapse;">
                <tr>
                    <td class="col1" width="15%" style="font-weight: bold"><span>Academic Year</span></td>
                    <td class="col2" width="85%">
                        @Html.DropDownList("academicYearId", new SelectList(ViewBag.AcademicYearsList as System.Collections.IEnumerable, "id", "academicYear"), "---Select--", new { @id = "academicYearId", style = "max-width: none;width:700px" })
                    </td>
                </tr>
            </table>
        }
    </div>
    if (Model.Count() > 0)
    {
        <table class="example">
            <tr>
                <td>
                    <br />
                    <p style="font-weight: bold;font-size: 14px; font-family:Bookman Old Style;">
                        Jawaharlal Nehru Technological University Hyderabad is one of the largest Affiliating Universities in the State of Telangana offering quality education through various courses both at Under Graduate and Post Graduate levels, in Engineering, Pharmacy and Management. In order to consistently maintain the Academic standards in the Affiliated Colleges, the University monitors and regulates all the academic activities of the Affiliated Colleges including Affiliation process on annual basis.
                    </p>
                    <br />
                    <p style="font-weight: bold;font-size: 14px; font-family:Bookman Old Style;"> The following is the list of Affiliated Colleges of JNTUH which are granted Affiliation<span style="font-size:16px; color:red"> for the Academic Year @ViewBag.AcademicYear:</span></p>
                    <br />
                </td>
            </tr>
        </table>
        <table id="example" class="display">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        S.No
                    </th>
                    <th style="text-align: center;">
                        College Code
                    </th>
                    <th style="text-align: center;">
                        College Name
                    </th>
                    <th style="text-align: center;">
                        Courses
                    </th>
                    <th style="text-align: center;">
                        Address
                    </th>
                    <th style="text-align: center;">
                        District
                    </th>
                    <th style="text-align: center;">
                        College Website
                    </th>
                    <th style="text-align: center;">
                        Contact Details
                    </th>
                    @*<th style="text-align: left;">
                            Mobile
                        </th>
                        <th style="text-align: left;">
                            Email
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model.OrderBy(c => c.CollegeName).ToList())
                    {
                        <tr>
                            <td style="width: 50px; text-align: center;">
                                @(count++)
                            </td>
                            <td style="text-align: center; width: 100px;">
                                @item.CollegeCode
                            </td>
                            <td style="width: 280px; text-align: left; text-transform: uppercase;">
                                @*@Html.ActionLink(@item.CollegeName.ToString(), "CollegeCourses", new { collegeId = UAAAS.Models.Utilities.EncryptString(item.id.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]), academicYearId = UAAAS.Models.Utilities.EncryptString(ViewBag.AcademicYearId, System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]) }, new { target = "_blank" })*@
                                @Html.ActionLink(@item.CollegeName.ToString(), "CollegeInformation", new { id = UAAAS.Models.Utilities.EncryptString(item.id.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]) }, new { target = "_blank" })
                            </td>
                            <td style="text-align: center;">
                                @Html.ActionLink("View", "CollegeCourses", new { collegeId = UAAAS.Models.Utilities.EncryptString(item.id.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]), academicYearId = UAAAS.Models.Utilities.EncryptString(ViewBag.AcademicYearId, System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]) }, new { style = "color: red;font-weight: bold", target = "_blank" })
                            </td>
                            <td style="text-align: left; width: 375px;">
                                @item.Address,
                                @item.TownorCity,
                                @item.Mandal,
                                @item.District,
                                @item.State,
                                @item.Pincode
                            </td>
                            <td style="text-align: left;">
                                @item.District
                            </td>
                            <td style="text-align: left; width: 100px;">

                                <a href="http://@item.Website" target="_blank">@item.Website</a>
                            </td>
                            <td style="text-align: left;">
                                @item.Mobile /
                                @item.Landline /
                                @item.Email
                            </td>
                            @*<td style="text-align: left;">
                                    @item.Mobile
                                </td>
                                <td style="text-align: left;">
                                    @item.Email
                                </td>*@

                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th style="width: 50px;">
                        <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
                    </th>
                    <th style="width: 50px;">
                        <input type="text" id="i-1" style="width: 60%; text-align: left;" class="search_init">
                    </th>
                    <th>
                        <input type="text" id="i-2" style="width: 90%; text-align: left;" class="search_init">
                    </th>
                    <th style="width: 50px;">
                        <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
                    </th>
                    <th style="width: 50px;">
                        <input type="text" id="i-4" style="width: 90%; text-align: left;" class="search_init">
                    </th>
                    <th>
                        <input type="text" id="i-5" style="width: 90%; text-align: left;" class="search_init">
                    </th>
                    <th style="width: 50px;">
                        <input type="text" id="i-6" style="width: 90%; text-align: left;" class="search_init">
                    </th>
                    <th style="width: 50px;">
                        <input type="text" id="i-6" style="width: 90%; text-align: left;" class="search_init">
                    </th>
                </tr>
            </tfoot>
        </table>
    }
}
<script type="text/javascript">

    $("#academicYearId").change(function () {
        debugger;
        var academicYearId = $(this).val();
        if (academicYearId !== "") {
            window.location = '/Public/AcademicYearWiseColleges?academicYearId=' + academicYearId;
        } else {
            window.location = '/Public/AcademicYearWiseColleges';
        }
    });

</script>
