@model UAAAS.Models.CollegeComputerLab
@{
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    ViewBag.Title = "College Computer Lab";
}


@if (ViewBag.IsEditable == true)
{
    <h2>College Computer Lab</h2>
    <p class="create_link_right">
        @Html.ActionLink("Edit", "Edit", "CollegeComputerLab", new { @class = "create_button" /* id=Model.PrimaryKey */ })
    </p>
}
else
{
    <p class="create_link_right">
        <input name="btnPrint" type="button" onclick="printdiv('div_print');" value=" Print" class="create_button">
    </p>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".view_hide").show();
    });
    function printdiv(printpage) {
        $(".view_hide").hide();
        //Get the HTML of div
        var divElements = document.getElementById(printpage).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" +
          divElements.fontsize(1) + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
        $(".view_hide").show();
        return false;
    }
</script>

<div id="div_print">
    @if (ViewBag.IsEditable == false)
    {  
        <h2>College Computer Lab</h2>
    }
    @using (Html.BeginForm())
    {
        if (ViewBag.Norecords == true)
        {
        <div class="warning" style="width: 200px; margin: 0 auto;">
            <p>No Data found</p>
        </div>
        }
        else
        {
        <table class="four_columns">
            <tr>
                <td class="col11">
                    @Html.LabelFor(model => model.printersAvailability)
                </td>
                <td class="col21">
                    @if(Model.printersAvailability == true)
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <label>No</label>
                    }                    
                </td>
            </tr>
            <tr>
                <td class="col11">
                    @Html.LabelFor(model => model.workingHoursofComputerLabFrom)
                </td>
                <td class="col21">
                    @Html.DisplayFor(model => model.workingHoursofComputerLabFrom)<label>(HH:MM)</label>
                </td>
            </tr>
            <tr>
                <td class="col11">
                    @Html.LabelFor(model => model.workingHoursofComputerLabTo)
                </td>
                <td class="col21">
                    @Html.DisplayFor(model => model.workingHoursofComputerLabTo)<label>(HH:MM)</label>
                </td>
            </tr>
            <tr>
                <td class="col11">
                    @Html.LabelFor(model => model.internetAccessibilityFrom)
                </td>
                <td class="col21">
                    @Html.DisplayFor(model => model.internetAccessibilityFrom)<label>(HH:MM)</label>
                </td>
            </tr>
            <tr>
                <td class="col11">
                    @Html.LabelFor(model => model.internetAccessibilityTo)
                </td>
                <td class="col21">
                    @Html.DisplayFor(model => model.internetAccessibilityTo)<label>(HH:MM)</label>
                </td>
            </tr>            
        </table>
        }
    }
</div>


