
@model IList<UAAAS.Models.CollegePaymentDetails>
@{
    
}
@using (Html.BeginForm())
{
    int count = 0;
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    S.No
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    College Code
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    College Name
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Payment Type
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Challan Number
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Txn Reference No.
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Amount
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Payment Date
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Payment Status
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Payment Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;vertical-align: top">
                        @(count = count + 1)
                    </td>
                    <th style="text-align: center;vertical-align: top">
                        @item.Collegecode
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.CollegeName
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.FeeType
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.ChallanNumber
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.TxnReferenceNo
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.TxnAmount
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.Paymentdate
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.PaymentAuthstatus
                    </th>
                    <th style="text-align: left; vertical-align: top">
                        @item.Errordescription
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
