@model IEnumerable<UAAAS.Models.CollegeFaculty>
@{
    ViewBag.Title = "Appeal Principal Verfication";
    var index = 1;
    
}
<h2>Appeal Principal Verfication</h2>
<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        var mainUrl = window.location;
        var url;

        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 500,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null,null,null,null,null,null,null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        $('#collegeId').change(function () {
            // alert();
            var collegeId = $(this).val();
            //alert(collegeId)

            if ($('#collegeId').val() != '') {
                window.location = '/FacultyVerification/Index?collegeid=' + collegeId;
            }
            else {
                window.location = '/FacultyVerification/Index';
            }
        });

        $.ajaxSetup({ cache: false });
        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/Edit Department',
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 640,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'Deactivate Faculty',
                autoOpen: false,
                resizable: false,
                height: 500,
                width: 500,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Add Faculty'
            });
            url = $("#openDialog").attr('href');
            $myDialog.dialog('open');
            return false;
        });

        $('#example').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Edit Department'
            });

            $myDialog.dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });
</script>


@*<table class="four_columns">
        <tr>
            <td class="col1">
                <span>College</span>
            </td>
            <td class="col2" colspan="4">
                @Html.DropDownList("collegeId",
                                  new SelectList(ViewBag.Colleges as System.Collections.IEnumerable, "collegeId", "collegeName"),
                                  "--Select--", new { id = "collegeId" })
            </td>
        </tr>

    </table>*@

<br />
@using (Html.BeginForm())
{
    if (TempData["Error"] != null)
    {
        <div class="error">
            <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
        </div>
    }
    if (TempData["Success"] != null)
    {
        <div class="success">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
    }

    @*if (Request.Params["collegeid"] != null)
        {
            <p class="create_link_right">
                @Html.ActionLink("Add Teaching Faculty", "AddEditCollegeFaculty", "FacultyVerification", new { collegeId = Request.Params["collegeid"], activate = 1 }, new { @id = "openDialog", @class = "create_button" })
            </p>
        }*@

    @*<p class="create_link_right">
        @Html.ActionLink("Export", "PrincipalReport", "SubmitData", new { collegeId = Request.Params["collegeid"], activate = 1, preview = 0 }, new { @class = "create_button" })
    </p>*@




    <table id="example" class="display">
        <thead>
            <tr>
                <th style="width: 50px; text-align: center;">
                    S.No
                </th>
                <th style="width: 140px; text-align: center;">
                    Registration ID
                </th>               
                <th style="text-align: left;">
                    Full Name
                </th>              
                <th style="text-align: left;">
                    College Name
                </th>
                <th style="width: 80px; text-align: center;">
                    Compliance/Reverification
                </th>
                <th style="width: 80px; text-align: center;">
                    Notification Report Document
                </th>
                <th style="width: 80px; text-align: center;">
                    Appointment Order Document
                </th>
                <th style="width: 80px; text-align: center;">
                    Joining Order Document
                </th>
                <th style="width: 80px; text-align: center;">
                   Selection Commite Minutes Document
                </th>
                <th style="width: 80px; text-align: center;">
                   PHD Undertaking Document
                </th>
               <th>View</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                string color = string.Empty;
                if (item.ViewPhdUndertakingDocument != null&&item.ViewPhysicalPresenceDocument!=null)
                {
                    color = "green";
                }
                if (item.ViewNotificationDocument != null)
                {
                    color = "red";
                }
                <tr>
                    <td style="text-align: center; vertical-align: middle; background-color:@color; border-bottom: 1px solid #fff;">
                        @(index++)
                    </td>
                    <td style="text-align: left; text-transform: uppercase; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.FacultyRegistrationNumber)
                    </td>
                   
                    <td style="vertical-align: middle; text-transform: uppercase; text-align: left;">
                        @Html.DisplayFor(modelItem => item.facultyFirstName)
                        @Html.DisplayFor(modelItem => item.facultySurname)
                        @Html.DisplayFor(modelItem => item.facultyLastName)
                    </td>                
                    <td style="text-align: left; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.CollegeName)
                    </td>
                    <td style="text-align: left; vertical-align: middle;width: 50px;color:@color">
                        @if (Model != null && item.ViewNotificationDocument != null)
                        { 
                        <span>Compliance</span>
                        }
                        else if (Model != null && item.ViewPhdUndertakingDocument != null&&item.ViewPhysicalPresenceDocument!=null)
                        { 
                        <span>Reverification</span>
                        }
                    </td>
                    <td style="text-align: left; vertical-align: middle;width: 50px">
                       @if (Model != null && item.ViewNotificationDocument != null)
                       {
                        <a href="@item.ViewNotificationDocument.Replace("~", "")" target="_blank">View</a>
                       }
                    </td>
                    <td style="text-align: left; vertical-align: middle;width: 50px">
                        @if (Model != null && item.ViewAppointmentOrderDocument != null)
                        {
                            <a href="@item.ViewAppointmentOrderDocument.Replace("~", "")" target="_blank">View</a>
                        }
                    </td>
                    <td style="text-align: left; vertical-align: middle;width: 50px">
                        @if (Model != null && item.ViewJoiningReportDocument != null)
                        {
                            <a href="@item.ViewJoiningReportDocument.Replace("~", "")" target="_blank">View</a>
                        }
                    </td>
                    <td style="text-align: left; vertical-align: middle;width: 50px">
                        @if (Model != null && item.ViewSelectionCommitteeDocument != null)
                        {
                            <a href="@item.ViewSelectionCommitteeDocument.Replace("~", "")" target="_blank">View</a>
                        }
                    </td>
                    <td style="text-align: left; vertical-align: middle;width: 50px">
                        @if (Model != null && item.ViewPhdUndertakingDocument != null)
                        {
                            <a href="@item.ViewPhdUndertakingDocument.Replace("~", "")" target="_blank">View</a>
                        }
                    </td>     
                    <td>
                        @Html.ActionLink("View", "FacultyVerification", "FacultyVerificationDENew", new { fid = UAAAS.Models.Utilities.EncryptString(item.id.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]), collegeid =item.collegeId }, new { @class = "view_button", target = "_blank" })
                    </td>         
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <input type="text" id="i-0" style="width: 80%; text-align: left; display: none;" class="search_init">
                </th>

                <th>
                    <input type="text" id="i-2" style="width: 90%; text-align: center;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-3" style="width: 90%; text-align: left;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-4" style="width: 90%; text-align: center" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-5" style="width: 90%; text-align: center;" class="search_init">
                </th>
                @*<th class=" ui-state-default">
                    <input type="text" id="i-6" style="width: 90%; text-align: center;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-7" style="width: 90%; text-align: left;" class="search_init">
                </th>*@
                <th class=" ui-state-default">
                    <input type="text" id="i-7" style="width: 90%; text-align: left;display: none; " class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-8" style="width: 90%; text-align: left;display: none;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-9" style="width: 90%; text-align: left;display: none;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-10" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th class=" ui-state-default">
                    <input type="text" id="i-11" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>

                <th class=" ui-state-default">
                    <input type="text" id="i-13" style="width: 90%; text-align: left;display: none;" class="search_init">
                </th>
            </tr>
        </tfoot>
    </table>
    <div id="dialog-confirm" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to delete ?
        </p>
    </div>
    <div id="dialog-edit" style="display: none">
    </div>
    <div id="dialog-view" style="display: none">
    </div>
}



