@model IEnumerable<UAAAS.Models.CollegePlacement>
@{
    Layout = "~/Views/Shared/_UserLayoutLeftMenu.cshtml";
    ViewBag.Title = "College Students Placement Details";
    int num = 1;
}
<h2>College Student placement Details</h2>
<table class="four_columns" style="width: 100%; font-size: 0.7rem;">
    <tr>
        <th style="text-align: center;" rowspan="3" class="col11">S.No
        </th>
        <th style="text-align: center;" rowspan="3" class="col11">Degree
        </th>
        <th style="text-align: center;" rowspan="3" class="col11">Department
        </th>
        <th style="text-align: center;" rowspan="3" class="col11">Specialization
        </th>
        <th style="text-align: center;" colspan="2" class="col11">@ViewBag.ThirdYear
        </th>
        <th style="text-align: center;" colspan="2" class="col11">@ViewBag.SecondYear
        </th>
        <th style="text-align: center;" colspan="2" class="col11">@ViewBag.FirstYear
        </th>
    </tr>
    <tr>
    </tr>
    <tr style="">
        <th style="text-align: center;" class="col11">Total Students Passed
        </th>
        <th style="text-align: center;" class="col11">Total Students Placed
        </th>
        <th style="text-align: center;" class="col11">Total Students Passed
        </th>
        <th style="text-align: center;" class="col11">Total Students Placed
        </th>
        <th style="text-align: center;" class="col11">Total Students Passed
        </th>
        <th style="text-align: center;" class="col11">Total Students Placed
        </th>
    </tr>
    @foreach (var item in ViewBag.StudentsPlacement as List<UAAAS.Models.CollegePlacement>)
    {
        <tr>
            <td style="width: 30px; text-align: center;" class="col21">
                @(num++)
            </td>
            <td style="width: 60px;" class="col21">@item.degree</td>
            <td style="width: 50px;" class="col21">@item.department</td>
            <td class="col21">@item.specialization</td>
            <td style="width: 30px; text-align: center;" class="col21">@item.totalStudentsPassed3</td>
            <td style="width: 30px; text-align: center;" class="col21">@item.totalStudentsPlaced3</td>
            <td style="width: 30px; text-align: center;" class="col21">@item.totalStudentsPassed2</td>
            <td style="width: 30px; text-align: center;" class="col21">@item.totalStudentsPlaced2</td>
            <td style="width: 30px; text-align: center;" class="col21">@item.totalStudentsPassed1</td>
            <td style="width: 30px; text-align: center;" class="col21">@item.totalStudentsPlaced1</td>
        </tr>
    }

</table>
@if (ViewBag.Count == 0)
{
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
}
