@model UAAAS.Models.Permanent_Affiliation.UploadSanctionedDetails

@{
    Layout = "~/Views/Shared/_PALayoutLeftMenu.cshtml";
    ViewBag.Title = "Sanctioned Documents List";
}
<h2>Sanctioned Documents List</h2>

@if (ViewBag.IsEditable == true)
{
    <p class="create_link_right">
        @Html.ActionLink("Edit", "Edit", "PA_UploadSanctionedIntake", new { @class = "create_button" })
    </p>
}
@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div><br />
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div><br />
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>


@if (ViewBag.SanctionedDocsList.Count > 0)
{
    <div style="margin-top:15px;">
        <table class="webGrid">
            <thead class="col1">
                <tr>
                    <th>S.No</th>
                    <th>Academic Year</th>
                    <th>Degree</th>
                    <th>Affiliation Letter issued by JNTUH</th>
                    <th>Documents indicating PCI Approval (EC Minutes / Decision Letter)</th>
                    <th>EOA issued by AICTE</th>
                </tr>
            </thead>
            <tbody class="col2">
                @foreach (var pay in ((List<UAAAS.Controllers.Permanent_Affiliation.SanctionedDocs>)ViewBag.SanctionedDocsList).Select((value, i) => new { i = i + 1, value }))
                {
                    <tr>
                        <td>@pay.i </td>
                        <td>@pay.value.AcademicYear</td>
                        <td>@pay.value.Degree</td>
                        <td style="text-align: left; font-weight: normal;">
                            @if (pay.value.JNTUHSanctionedDocumentPath != null)
                            {
                                <a href="../Content/Upload/College/SanctionedDocuments/@pay.value.JNTUHSanctionedDocumentPath" target="_blank"><span style="color: red;font-weight: bold ">View</span></a>
                            }
                        </td>
                        <td style="text-align: left; font-weight: normal;">
                            @if (pay.value.PCISanctionedDocumentPath != null)
                            {
                                <a href="../Content/Upload/College/SanctionedDocuments/@pay.value.PCISanctionedDocumentPath" target="_blank"><span style="color: red;font-weight: bold ">View</span></a>
                            }
                        </td>
                        <td style="text-align: left; font-weight: normal;">
                            @if (pay.value.AICTESanctionedDocumentPath != null)
                            {
                                <a href="../Content/Upload/College/SanctionedDocuments/@pay.value.AICTESanctionedDocumentPath" target="_blank"><span style="color: red;font-weight: bold ">View</span></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No Data found</p>
    </div>
}