@model UAAAS.Models.jntuh_sports_type

@{
    ViewBag.Title = "Sports Type Details";
}

<h2>Sports Type Details</h2>

<div class="details_table">

    <div class="display-label">Sport Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sportType)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sportDescription)
    </div>

    <div class="display-label">Staus</div>
    <div class="display-field">
       @if(this.Model.isActive==true)
        {<label>Active</label>}
        else
        {<label>Inactive</label>}
    </div>

    <div class="display-label">Created Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdOn)
    </div>

    <div class="display-label">Created By</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.my_aspnet_users.name)
    </div>

    <div class="display-label">Updated Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updatedOn)
    </div>

    <div class="display-label">Updated By</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.my_aspnet_users1.name)
    </div>
<div class="display-label last-row">
        &nbsp;
    </div>
    <div class="display-field last-row">
        <p>
            @Html.ActionLink("Back", "Index", null, new { @class = "back_button" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "submit_button" })
        </p>
    </div>
    <div class="clear"></div>
</div>
