@model List<UAAAS.Models.BulkCollegeMails>
@{
    ViewBag.Title = "Collegeemaildata";
}

@using (Html.BeginForm())
{
    int count = 1;
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    S.No
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top;width:auto;">
                    College Code
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    College Name
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    College Email
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Society Email
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Secretary Email
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                    Prinipal Email
                </th>
                <th style="text-align: center; background-color: yellow; vertical-align: top">
                   File Name
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: left;">@(count++)</td>
                        <td style="text-align: left;">@item.collegeCode</td>
                        <td style="text-align: left;">@item.collegeName</td>
                        <td style="text-align: left;">@item.Collegeemail</td>
                        <td style="text-align: left;">@item.Societyemail</td>
                        <td style="text-align: left;">@item.Secretaryemail</td>
                        <td style="text-align: left;">@item.principalemail</td>
                        <td style="text-align: left;">@item.FileName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
