@model IEnumerable<UAAAS.Models.CollegeOverallFacultyStudentRatio>
@using UAAAS.Models;
@{
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_DataEntryLayoutLeftMenu.cshtml";
    }
    ViewBag.Title = "College Overall Faculty Student Ratio";
    int num = 1;
    uaaasDBContext db = new uaaasDBContext();
}
<h2>College Overall Faculty Student Ratio</h2>
<script type="text/javascript">
    $(document).ready(function () {

        var mainUrl = window.location;
        var url;

        $.ajaxSetup({ cache: false });

        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/Edit Overall Faculty Student Ratio',
            autoOpen: false,
            resizable: false,
            height: 610,
            width: 710,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Add Overall Faculty Student Ratio'
            });
            url = $("#openDialog").attr('href');
            $myDialog.dialog('open');
            //alert(url);
            return false;
        });

        $('.full_table').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Edit Overall Faculty Student Ratio'
            });

            $myDialog.dialog('open');
            return false;
        });

        $(".confirmDialog").live("click", function (e) {

            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                title: 'Delete Overall Faculty Student Ratio',
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "No": function () {
                        $(this).dialog("close");

                    }
                }
            });
            $("#dialog-confirm").dialog('open');
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'View Overall Faculty Student Ratio',
                autoOpen: false,
                resizable: false,
                height: 610,
                width: 710,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });


</script>
@using (Html.BeginForm())
{
    if (ViewBag.NotUpload == true)
    {
    
    <span class="notUpload">You can not upload data Please contact Affiliations & Academic Audit if you want to upload</span>
    }
    else
    {
        if (TempData["Error"] != null)
        {
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
        }
        if (TempData["Success"] != null)
        {
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
        }

    <table style="width: 100%">
        @if (ViewBag.BTech == true)
        {
            <tr>
                <td class="create_link_right">
                    @Html.ActionLink("Add First Year UG(Engg.)", "AddEditFirstYearUGFaculty", "CollegeOverallFacultyStudentRatio", new { collegeId = @ViewBag.collegeId }, new { @id = "openDialog", @class = "create_button" })
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        }
        else
        {
            <tr>

                <td class="create_link_right">
                    @Html.ActionLink("Add Overall Faculty Student Ratio", "AddEditRecord", "CollegeOverallFacultyStudentRatio", new { collegeId = @ViewBag.collegeId }, new { @id = "openDialog", @class = "create_button" })
                </td>
            </tr>
        }
    </table>
    <table class="full_table" style="width: 100%; font-size: 0.7rem;">
        <tr>
            <th style="width: 150px; text-align: left;">Program</th>
            <th style="width: 250px; text-align: left;">Spelization
            </th>
            <th style="text-align: center;">Sanctioned Strength
            </th>
            <th style="width: 100px; text-align: center;">Total Faculty
            </th>
            <th style="width: 100px; text-align: center;">Ratified Faculty
            </th>
            <th style="width: 20px; text-align: center;"></th>
            <th style="width: 20px; text-align: center;"></th>
            <th style="width: 20px; text-align: center;"></th>

        </tr>
    </table>
    
    <span>
        <br />
    </span>
    
        var count = 0;
        var prev_degree = string.Empty;
        List<string> degree = Model.Select(d => d.Degree).Distinct().ToList();
        var btechSummary = 0;
        foreach (var degreename in degree)
        {
            if (degreename.ToUpper().Equals("B.TECH"))
            {

                foreach (var item in Model)
                {
                    if (degreename == item.Degree)
                    {
                        var duration = db.jntuh_degree.Where(d => d.id == item.degreeID).Select(d => d.degreeDuration).FirstOrDefault();
                        var FYUG = db.jntuh_college_overall_faculty_studentratio.Where(s => s.collegeId == item.collegeId && s.specializationId == 39).Select(s => s).FirstOrDefault();

                        if (btechSummary == 0 && count == 0 && FYUG != null)
                        {
                            <table class="full_table" style="width: 100%; font-size: 0.7rem;">
                                <tr>
                                    <td style="width: 150px; text-align: left;"><span>First Year UG (Engg.)</span></td>
                                    <td style="width: 250px; text-align: left;"><span>All Branches</span></td>
                                    <td style="text-align: center;">@FYUG.sanctionedIntake</td>
                                    <td style="width: 100px; text-align: center;">@FYUG.totalFaculty</td>
                                    <td style="width: 100px; text-align: center;">@FYUG.ratifiedFaculty</td>
                                    <td style="width: 20px; text-align: center;">
                                        @Html.ActionLink("Edit", "AddEditFirstYearUGFaculty", new { id = FYUG.id }, new { @class = "editDialog edit_button" })
                                    </td>
                                    <td style="width: 20px; text-align: center;">
                                        @Html.ActionLink("Details", "FirstYearUGFacultyDetails", new { id = FYUG.id }, new { @class = "viewDialog view_button" })
                                    </td>
                                    <td style="width: 20px; text-align: center;">
                                        @Html.ActionLink("Delete", "DeleteRecord", new { id = FYUG.id }, new { @class = "confirmDialog delete_button" })
                                    </td>
                                </tr>
                            </table> 
                            <span>
                                <br />
                            </span>
                            btechSummary = 1;
                        }
                    }
                }
            }
        
    <table class="full_table" style="width: 100%; font-size: 0.7rem;">
        @foreach (var item in Model)
        {
            if (degreename == item.Degree && item.Specialization != "Humanities")
            {
                var duration = db.jntuh_degree.Where(d => d.id == item.degreeID).Select(d => d.degreeDuration).FirstOrDefault();                
            <tr>
                @if (count == 0)
                {
                    <td rowspan="@Model.Count()" style="width: 150px; text-align: left;">@degreename</td>
                }

                @if (item.shiftId == 1)
                {
                    <td style="width: 250px; text-align: left;">@item.Specialization</td>
                }
                else
                {
                    <td style="width: 250px; text-align: left;">@item.Specialization - @item.shiftId</td>
                }

                @if (degreename.ToUpper().Equals("B.TECH"))
                {
                    if (duration >= 1)
                    {
                    <td style="text-align: center;">@item.approvedIntake2</td>
                    }
                    if (duration >= 2)
                    {
                    <td style="text-align: center;">@item.approvedIntake3</td>
                    }
                    if (duration >= 3)
                    {
                    <td style="text-align: center;">@item.approvedIntake4</td>
                    }

                }
                else
                {
                    if (duration >= 1)
                    {
                    <td style="text-align: center;">@item.approvedIntake1</td>
                    }
                    if (duration >= 2)
                    {
                    <td style="text-align: center;">@item.approvedIntake2</td>
                    }
                    if (duration >= 3)
                    {
                    <td style="text-align: center;">@item.approvedIntake3</td>
                    }
                    if (duration >= 4)
                    {
                    <td style="text-align: center;">@item.approvedIntake4</td>
                    }
                    if (duration >= 5)
                    {
                    <td style="text-align: center;">@item.approvedIntake5</td>
                    }
                    if (duration >= 6)
                    {
                    <td style="text-align: center;">@item.approvedIntake6</td>
                    }
                }
                <td style="width: 100px; text-align: center;">@item.totalFaculty</td>
                <td style="width: 100px; text-align: center;">@item.ratifiedFaculty</td>
                <td style="width: 20px; text-align: center;">
                    @Html.ActionLink("Edit", "AddEditRecord", new { id = item.id }, new { @class = "editDialog edit_button" })
                </td>
                <td style="width: 20px; text-align: center;">
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "viewDialog view_button" })
                </td>
                <td style="width: 20px; text-align: center;">
                    @Html.ActionLink("Delete", "DeleteRecord", new { id = item.id }, new { @class = "confirmDialog delete_button" })
                </td>
            </tr>
                count++;

            }
        }

    </table>
        
    <span>
        <br />
    </span>
        
        prev_degree = degreename;
        count = 0;
        }


        if (ViewBag.Count == 0)
        {
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
        }
    <div id="dialog-confirm" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to delete ?
        </p>
    </div>
    <div id="dialog-edit" style="display: none">
    </div>
    <div id="dialog-view" style="display: none">
    </div> 
  
    }
}